<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>Contactanos</title>
    <link rel="icon" th:href="@{/general/img/logotipo.png}" type="image/png">


    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/general/css/formato.css}">
    <link rel="stylesheet" th:href="@{/general/css/header.css}">
    <link rel="stylesheet" th:href="@{/contactanos/css/contactanos.css}">
    <link rel="stylesheet" th:href="@{/general/css/footer.css}">
    <link rel="stylesheet" th:href="@{/general/css/sliderMain.css}">

    <!-- JS -->
    <script th:src="@{https://kit.fontawesome.com/a7b7960e39.js}" crossorigin="anonymous"></script>
    <script th:src="@{/general/js/header.js}"></script>
    <script th:src="@{/general/js/contactanos.js}"></script>
</head>

<body>
    <!-- INCIO HEADER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
    <header>
        <div id="head-div-1">
            <div class="contenedor">
                <div class="head-div-1-sub">
                    <p>
                        Correo electrónico: <a href="mailto:labrujastore@outlook.com">labrujastore@outlook.com</a>
                    </p>
                </div>
                <div class="dropdown">
                    <button class="dropdown-toggle" on:click={openModal}>Iniciar Sesión</button>
                </div>
            </div>
        </div>
        <div id="head-div-2">
            <div class="head-div-2-part1">
                <div class="contenedor-2">
                    <!--Logo Header-->
                    <div class="head-div-2-part1-1">
                        <a href="/">
                            <img th:src="@{/general/img/logo.png}" alt="Logo La Bruja Store" />
                        </a>
                    </div>

                    <div class="barra-bus-btn">
                        <!-- Amburguesa para abrir silebar isquierdo - celulares -->
                        <div class="abrir mostrar-opc-mobil">
                            <label for="open-silebar" class="centered-label">
                                <i class="fa-solid fa-bars img-menu" style="color: #000000; padding: 10px;"></i>
                            </label>
                        </div>

                        <!--Buscador-->
                        <div class="head-div-2-part1-2">
                            <div class="abrir-slider">
                                <label class="centered-label" for="open-silebar">Categorias</label>
                            </div>
                            <div class="cont-form-search">
                                <div>
                                    <form class="form-busqueda" action="" method="post">
                                        <div class="form-busqueda-input"><input type="text" name="buscador-pro"
                                                id="buscador-producto" placeholder="Estoy buscando..." /></div>
                                        <div><button><img th:src="@{/general/img/icon/lupa.svg}" alt="" /></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="busqueda-productos">
                                    <ul class="grupo-productos-busqueda">

                                        <!-- Accesorio -->
                                        <li th:each="producto : ${vistaAccesorios}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.accesorioId}, tipo='accesorio')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <!-- Almacenamiento -->
                                        <li th:each="producto : ${vistaAlmacenamientos}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.almacenamientoId}, tipo='almacenamiento')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <!-- Casse -->
                                        <li th:each="producto : ${vistaCasses}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.casseId}, tipo='casse')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <!-- Fuente -->
                                        <li th:each="producto : ${vistaFuentes}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.fuenteId}, tipo='fuente')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <!-- Laptop -->
                                        <li th:each="producto : ${vistaLaptops}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.laptopId}, tipo='laptop')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <!-- Monitor -->
                                        <li th:each="producto : ${vistaMonitores}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.monitorId}, tipo='monitor')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- Placa Madre -->
                                        <li th:each="producto : ${vistaPlacas}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.placaId}, tipo='placa')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <!-- Procesador -->
                                        <li th:each="producto : ${vistaProcesadores}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.procesadorId}, tipo='procesador')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <!-- Memoria ram -->
                                        <li th:each="producto : ${vistaRams}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.ramId}, tipo='ram')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <!-- Refrigeracion -->
                                        <li th:each="producto : ${vistaRefrigeraciones}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.refrigeracionId}, tipo='refrigeracion')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <!-- Tarjeta Gráfica -->
                                        <li th:each="producto : ${vistaTarjetas}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.tarjetaId}, tipo='tarjeta')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <!-- Combo -->
                                        <li th:each="producto : ${vistaCombos}"
                                            class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.comboId}, tipo='combo')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img class="img-produc-search"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}"
                                                            alt="imagen-producto-buscado">
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span
                                                                th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <script th:src="@{/general/js/buscador-producto.js}"></script>
                        <script th:src="@{/general/js/quitar-form-input.js}"></script>

                        <!--Favorito y Carrito-->
                        <div class="head-div-2-part1-3">
                            <!--Contador de favoritos-->
                            <a class="link-bnt" style="display: none;" href="/">
                                <div>
                                    <img th:src="@{/general/img/icon/corazon.svg}" alt="" />
                                    <span class="contador-fav">4</span>
                                </div>
                            </a>
                            <!--Contador de carrito-->
                            <button class="link-bnt" id="boton_abrir--slider"
                                style="background: transparent; border: none; outline:none;">
                                <div>
                                    <img th:src="@{/general/img/icon/carrito.svg}" alt="" />
                                    <span class="contador-car" id="cantidad-contador-carrito"></span>
                                    <p id="mostrarPrecioTotal"></p>
                                </div>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="head-div-2-part2">
        <div class="contenedor-3">
            <a class="cont-lista-op" href="/">INICIO</a>
            <a class="cont-lista-op" href="/catalogo/producto">CATALOGO</a>
            <a class="cont-lista-op" href="/contactanos">CONTACTANOS</a>
            <!-- <a class="cont-lista-op" href="/about">ACERCA DE</a>
			<a class="cont-lista-op" href="/">CARRITO</a>
			<a class="cont-lista-op" href="/">COTIZACIÓN</a> -->
        </div>
    </div>

    <!-- SILEBAR CATEGORIAS -->
    <div id="background-silebar">
        <div id="contenedor-silebar">

            <!-- Contenedor para la columna de categori -->
            <div id="silebar-categorias">
                <div class="close-silebar">
                    <label for="close-silebar"><img th:src="@{/general/img/icon/equis.svg}" alt=""></label>
                </div>
                <ul>
                    <a href="/catalogo/producto">
                        <li class="listaItems">
                            <span>CATALOGO</span>
                        </li>
                    </a>
                    <hr>
                    <a th:each="categoria : ${vistaCategorias}" th:href="@{'/catalogo/' + ${categoria.nombreUrl}}">
                        <li class="listaItems">
                            <span th:text="${categoria.nombre}"></span>
                            <img class="simbolo" th:src="@{/general/img/icon/angle-right.svg}" alt=""
                                style="width: 12px;">
                        </li>
                    </a>
                    <hr>
                    <a href="/">
                        <li class="listaItems">
                            <span>INICIO</span>
                        </li>
                    </a>
                    <a href="/contactanos">
                        <li class="listaItems">
                            <span>CONTACTANOS</span>
                        </li>
                    </a>
                </ul>
            </div>

            <!-- Contenedor para las subcategorias de las categorias -->
            <div id="silebar-subcategoria">
                <div>
                    <div>
                        <!-- Encabezado -->
                        <div>
                            <div>
                                <img src="" alt="" />
                                <!--Icono referente a la categoria-->
                            </div>
                            <a href="/">Productos</a>
                        </div>
                        <a href="/">Ver todo</a>
                    </div>

                    <!-- Contenido de cada sub categoria -->
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SILEBAR DE CARRITO -->
    <div id="background-silebar-carrito">
        <div id="contenedor-silebar-carrito" style="overflow: hidden scroll;">

            <!-- Contenedor para la columna de categorias -->
            <div id="silebar-categorias-carrito">
                <div class="close-silebar-carrito">
                    <label for="close-silebar-carrito"><img th:src="@{/general/img/icon/equis.svg}" alt=""></label>
                </div>
            </div>
            <p style="text-align: center; font-size: 18px; font-weight: 700;">Carrito</p>
            <!-- Contenedor para las subcategorias de las categorias -->
            <div id="silebar-subcategoria-carrito">
                <!-- Aquí van los productos -->
            </div>
            <div class="contenido_productos-pago">
                <p class="cantidad_productos_contenido">Hay <span id="cantidad_productos_obtenidos"
                        class="cantidad_producto--span"></span> articulos en su carrito</p>
                <p class="total_pagar_productos">Total a pagar: <span id="precio_total_productos"
                        class="total_pagar-span"></span></p>
            </div>
            <a href="/contactanos">
                <button class="comprar_productos_carrito">COMPRAR PRODUCTOS</button>
            </a>
        </div>
    </div>
    <!-- FIN HEADER ----------------------------------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------->



    <!-- INICIO CONTENIDO ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
    <section class="contactos">
        <div class="contactos__header">
            <div class="seguimiento">
                <a href="/contactanos" class="seguimiento__etiqueta">
                    Hogar
                    <i class="fa-solid fa-angle-right"></i>
                    <span class="seguimiento__contacto"> Contactanos </span>
                </a>
            </div>
            <div class="seguimiento__dos">
                <h2 class="seguimiento__titulo">CONTACTANOS</h2>
            </div>
        </div>
        <hr />

        <article class="main">
            <div class="flex__cajas">
                <div class="bloques">
                    <h1 class="bloque__titulo">Lima <span>(ASESORES)</span></h1>
                    <ul>
                        <li>
                            <a th:href="@{https://wa.me/51984162557}" target="_blank">
                                <div class="cont-asesor">
                                    <img th:src="@{/general/img/asesor-v.jpg}" alt="Logo La Bruja Store" />
                                    <h3>YERSON</h3>
                                    <p>984 162 557</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{https://wa.me/51922512904}" target="_blank">
                                <div class="cont-asesor">
                                    <img th:src="@{/general/img/asesor-v.jpg}" alt="Logo La Bruja Store" />
                                    <h3>JERENY</h3>
                                    <p>922 512 904</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{https://wa.me/51972563104}" target="_blank">
                                <div class="cont-asesor">
                                    <img th:src="@{/general/img/asesor-v.jpg}" alt="Logo La Bruja Store" />
                                    <h3>GUSTAVO</h3>
                                    <p>972 563 104</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{https://wa.me/51972213019}" target="_blank">
                                <div class="cont-asesor">
                                    <img th:src="@{/general/img/asesor-v.jpg}" alt="Logo La Bruja Store" />
                                    <h3>ELIEL</h3>
                                    <p>972 213 019</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{https://wa.me/51914994007}" target="_blank">
                                <div class="cont-asesor">
                                    <img th:src="@{/general/img/asesor-v.jpg}" alt="Logo La Bruja Store" />
                                    <h3>ANDY</h3>
                                    <p>914 994 007</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{https://wa.me/51923646990}" target="_blank">
                                <div class="cont-asesor">
                                    <img th:src="@{/general/img/asesor-v.jpg}" alt="Logo La Bruja Store" />
                                    <h3>LUIS</h3>
                                    <p>923 646 990</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{https://wa.me/51984737542}" target="_blank">
                                <div class="cont-asesor">
                                    <img th:src="@{/general/img/asesor-v.jpg}" alt="Logo La Bruja Store" />
                                    <h3>JEREMY</h3>
                                    <p>984 737 542</p>
                                </div>
                            </a>
                        </li>

                        <!-- AGREGAR LOS NUMEROS DE CONTACTO -->
                </div>
                <div class="linea-roja"></div>
                <div class="bloques">
                    <h1 class="bloque__titulo">Arequipa <span>(ASESORES)</span></h1>
                    <ul>

                        <li>
                            <a th:href="@{https://wa.me/51918310475}" target="_blank">
                                <div class="cont-asesor">
                                    <img th:src="@{/general/img/asesor-v.jpg}" alt="Logo La Bruja Store" />
                                    <h3>FERNANDO</h3>
                                    <p>918 310 475</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{https://wa.me/51921906558}" target="_blank">
                                <div class="cont-asesor">
                                    <img th:src="@{/general/img/asesor-v.jpg}" alt="Logo La Bruja Store" />
                                    <h3>EDINSON</h3>
                                    <p>921 906 558</p>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </article>

        <article class="ubicacion">
            <h1 class="ubicacion__titulo">Ubicanos</h1>
            <div class="mapas">
                <div class="cont-ubics">
                    <h3>(Lima)</h3>
                    <div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.804184383345!2d-77.0418232249387!3d-12.056989988180627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9babbe694bd%3A0x282693d962c25f2f!2sLa%20Bruja%20Store!5e0!3m2!1ses-419!2spe!4v1709167610627!5m2!1ses-419!2spe"
                            width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <ul>
                            <li style="margin-bottom: 15px;">AV. GARCILAZO DE LA VEGA 1348 INTERIOR 2B-140 - CENTRO
                                COMERCIAL CYBERPLAZA</li>
                            <li>
                                HORARIO DE ATENCIÓN
                                <ul>
                                    <li><strong>LUNES - SABADO:</strong> 10:00 AM a 8:00 PM</li>
                                    <li><strong>DOMINGO:</strong> 10:00 AM a 6:00 PM</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cont-ubics">
                    <h3>(Arequipa)</h3>
                    <div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.4521393418995!2d-71.53245272485692!3d-16.401847784326904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424b09520c21dd%3A0x384ea64a00d604d8!2sLa%20Bruja%20Store!5e0!3m2!1ses-419!2spe!4v1710342662889!5m2!1ses-419!2spe"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <ul>
                            <li style="margin-bottom: 15px;">CALLE OCTAVIO MUÑOZ NAJAR 223 INTERIOR 133 - CENTRO
                                COMERCIAL COMPUAREQUIPA</li>
                            <li>
                                HORARIO DE ATENCIÓN
                                <ul>
                                    <li><strong>LUNES - SABADO:</strong> 10:00 AM a 8:00 PM</li>
                                    <li><strong>DOMINGO:</strong> 10:00 AM a 6:00 PM</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <!-- FIN CONTENIDO ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->




    <!-- INICIO FOOTER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
    <footer class="footer">
        <main class="encabezado">
            <span class="encabezado__titulo ocultar">Suscribete para resivir boletinis</span>
            <div class="encabezado__contenido ocultar">
                <input type="email" class="encabezado__input" placeholder="Su dirección electronico" />
                <p class="encabezado__parrafo">suscribirse</p>
            </div>
        </main>
        <section class="seccion">
            <article class="articulo">
                <figure>
                    <img th:src="@{/general/img/logo.png}" alt="imagen" class="articulo__imagen" loading="lazy"
                        width="315px" />
                </figure>
                <div class="contenido">
                    <p class="contenido__descripcion">
                        Consigue las mejores marcas a los mejores
                        <span class="contenido__span">precios, aquí en La Bruja Store.</span>
                    </p>
                    <p>Siguenos en nuestras redes sociales:</p>
                    <div class="cont-redes">
                        <div class="cad-img">
                            <a class="style-icon" target="_blank"
                                th:href="@{https://www.facebook.com/LaBrujaStoreOficial?locale=es_LA}">
                                <img class="icon-redes" th:src="@{/general/img/icon/facebook.svg}" alt="">
                            </a>
                        </div>
                        <div class="cad-img">
                            <a class="style-icon" target="_blank"
                                th:href="@{https://www.instagram.com/labrujastoreaqp?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==}">
                                <img class="icon-redes" th:src="@{/general/img/icon/instagram.svg}" alt="">
                            </a>
                        </div>
                        <div class="cad-img">
                            <a class="style-icon" target="_blank"
                                th:href="@{https://www.tiktok.com/@labrujastoreaqp?is_from_webapp=1&sender_device=pc}">
                                <img class="icon-redes" th:src="@{/general/img/icon/tiktok.svg}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="contacto">
                <div class="container">
                    <h2 class="contacto__titulo">CONTÁCTANOS</h2>
                    <div class="conacto__dividir"></div>
                </div>
                <div class="contacto__borde"></div>
                <div class="contacto__iconos">
                    <a th:href="@{/contactanos}">
                        <span><i class="fa-brands fa-whatsapp"></i></span>CONTACTANOS
                    </a>
                    <a target="_blank" th:href="@{https://maps.app.goo.gl/YrVFaSiMSWnPVonT9}">
                        <span><i class="fa-solid fa-location-dot"></i></span>AREQUIPA: C.C. CompuArequipa Tienda
                        133 y 219
                    </a>
                    <a target="_blank" th:href="@{https://maps.app.goo.gl/7fpzHPvQvTrB4zeM9}">
                        <span><i class="fa-solid fa-location-dot"></i></span>LIMA: C.C. Cyberplaza tienda 140
                        sector 2 B
                    </a>
                    <a href="mailto:labrujastore@outlook.com">
                        <span><i class="fa-solid fa-envelope"></i></span>
                        labrujastore@uotlook.com
                    </a>
                </div>
            </article>
            <article class="informacion">
                <div class="container">
                    <h2 class="informacion__titulo">INFORMACIÓN</h2>
                    <div class="informacion__dividir"></div>
                </div>
                <ul class="informacion__lista">
                    <li>Nosotros</li>
                    <li>Novedades</li>
                    <li>Destacados</li>
                    <li>Ofertas del día</li>
                    <li>
                        <a th:href="@{/politica_de_privacidad}">Politicas de Privacidad</a>
                    </li>
                    <li>
                        <a th:href="@{/terminos_y_condiciones}">Terminos y Condiciones</a>
                    </li>
                    <li>
                        <a th:href="@{/eliminar_datos_cuenta}">Store Data</a>
                    </li>
                </ul>
            </article>
        </section>
        <div class="copyright">
            <p>Labrujastore© 2023 todos los derechos reservados.</p>
        </div>

    </footer>
    <!-- FIN FOOTER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
    <script th:src="@{/general/js/abrir-slider.js}"></script>
</body>

</html>