---
import almacenamiento from "@data/almacenamiento.json";

// Definir el tipo para los almacenamientos
interface Almacenamiento {
    id: string;
    nombre: string;
    precio: number;
    stockTotal: number;
}

// Transformar los datos para incluir solo los campos necesarios
const almacenamientos: Almacenamiento[] = almacenamiento.map((a: any) => ({
    id: a.id,
    nombre: a.nombre,
    precio: a.precio,
    stockTotal: a.stockTotal,
}));

// Convertir el array de almacenamientos a una cadena JSON
const almacenamientosJson = JSON.stringify(almacenamientos);
---

<div>
    <p>Almacenamiento</p>
    <select id="almacenamiento">
        <option value="">Selecciona un Almacenamiento</option>
        {almacenamientos.map((a) => <option value={a.id}>{a.nombre}</option>)}
    </select>
</div>

<p>
    El almacenamiento seleccionado es: <span id="almacenamientoSeleccionado"
    ></span>
</p>
<p>
    El precio del almacenamiento seleccionado es: <span
        id="almacenamientoPrecio"></span>
</p>
<p>
    El stock del almacenamiento seleccionado es: <span id="almacenamientoStock"
    ></span>
</p>

<div
    id="data-container"
    data-almacenamientos={almacenamientosJson}
    style="display:none;"
>
</div>

<script>
    const dataContainer = document.getElementById(
        "data-container",
    ) as HTMLElement | null;
    if (dataContainer) {
        const almacenamientosJson =
            dataContainer.getAttribute("data-almacenamientos") || "[]";
        console.log("Datos JSON del atributo:", almacenamientosJson);

        const almacenamientos = JSON.parse(almacenamientosJson) as {
            id: string;
            nombre: string;
            precio: number;
            stockTotal: number;
        }[];
        console.log("Almacenamientos:", almacenamientos);

        let almacenamientoAlmacenado = {
            nombre: "",
            precio: 0,
            stockTotal: 0,
        };

        const selectElement = document.getElementById(
            "almacenamiento",
        ) as HTMLSelectElement | null;
        const almacenamientoSeleccionadoSpan = document.getElementById(
            "almacenamientoSeleccionado",
        );
        const almacenamientoPrecioSpan = document.getElementById(
            "almacenamientoPrecio",
        );
        const almacenamientoStockSpan = document.getElementById(
            "almacenamientoStock",
        );

        if (
            selectElement &&
            almacenamientoSeleccionadoSpan &&
            almacenamientoPrecioSpan &&
            almacenamientoStockSpan
        ) {
            selectElement.addEventListener("change", function () {
                const selectedId = selectElement.value;
                console.log("ID seleccionado:", selectedId);

                if (selectedId) {
                    const selectedAlmacenamiento = almacenamientos.find(
                        (a) => a.id === selectedId,
                    );
                    console.log(
                        "Almacenamiento seleccionado:",
                        selectedAlmacenamiento,
                    );

                    if (selectedAlmacenamiento) {
                        almacenamientoAlmacenado = {
                            nombre: selectedAlmacenamiento.nombre,
                            precio: selectedAlmacenamiento.precio,
                            stockTotal: selectedAlmacenamiento.stockTotal,
                        };

                        almacenamientoSeleccionadoSpan.textContent =
                            almacenamientoAlmacenado.nombre;
                        almacenamientoPrecioSpan.textContent =
                            almacenamientoAlmacenado.precio.toFixed(2);
                        almacenamientoStockSpan.textContent =
                            almacenamientoAlmacenado.stockTotal.toString();
                    }
                } else {
                    almacenamientoAlmacenado = {
                        nombre: "",
                        precio: 0,
                        stockTotal: 0,
                    };

                    almacenamientoSeleccionadoSpan.textContent = "";
                    almacenamientoPrecioSpan.textContent = "";
                    almacenamientoStockSpan.textContent = "";
                }
            });
        }
    } else {
        console.error("Elemento data-container no encontrado");
    }
</script>
