---
import Procesador from "@components/cotizacion/Procesador.astro";
import Placa from "@components/cotizacion/Placa.astro";
import Ram1 from "@components/cotizacion/Ram1.astro";
import Ram2 from "@components/cotizacion/Ram2.astro";
import Almacenamiento from "@components/cotizacion/Almacenamiento.astro";
import Tarjeta from "@components/cotizacion/Tarjeta.astro";
import Fuente from "@components/cotizacion/Fuente.astro";
import Casse from "@components/cotizacion/Casse.astro";
import Monitor from "@components/cotizacion/Monitor.astro";
import Refrigeracion from "@components/cotizacion/Refrigeracion.astro";
import Accesorio1 from "@components/cotizacion/Accesorio1.astro";
import Accesorio2 from "@components/cotizacion/Accesorio2.astro";
import Accesorio3 from "@components/cotizacion/Accesorio3.astro";
import Accesorio4 from "@components/cotizacion/Accesorio4.astro";
import ProcePlaca from "@components/cotizacion/ProcePlaca.astro";
import ProcesadorPlaca from "@components/cotizacion/ProcesadorPlaca.astro";
---

<h2>Crear Cotización</h2>
<ProcesadorPlaca
<!-- <ProcePlaca /> -->
<!-- <Procesador />
<Placa /> -->
<!-- <Ram1 />
<Ram2 />
<Almacenamiento />
<Tarjeta />
<Fuente />
<Casse />
<Monitor />
<Refrigeracion />
<Accesorio1 />
<Accesorio2 />
<Accesorio3 />
<Accesorio4 /> -->
