<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/admin/perfil/css/perfil.css}">
  </head>

  <body>
    <h1>Pagina de admin</h1>
    <a href="/admin/procesador">Procesador</a>
    <br />
    <a href="/admin/placa">Placa</a>
    <br />
    <a href="/admin/ram">Memoria Ram</a>
    <br />
    <a href="/admin/almacenamiento">Almacenamiento</a>
    <br />
    <a href="/admin/tarjeta">Tarjeta de video</a>
    <br />
    <a href="/admin/fuente">Fuente de poder</a>
    <br />
    <a href="/admin/casse">Case</a>
    <br />
    <a href="/admin/monitor">Monitor</a>
    <br />
    <a href="/admin/laptop">Laptop</a>
    <br />
    <a href="/admin/refrigeracion">Refrigeracion</a>
    <br />
    <a href="/admin/accesorio">Accesorio</a>
    <br />
    <a href="/admin/categoria">Categoria</a>
  </body>
</html>
