<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metas para la búsqueda de google -->
    <title>Términos y condiciones - LaBrujaStore</title>
    <meta name="description"
        content="Da un vistaso a nuestros terminos y condicones de nuestra empresa La Bruja Store.">
    <meta name="robots" content="index">
    <meta name="keywords" content=""> <!--Palabras claves o tags-->

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <link rel="icon" th:href="@{/general/img/logotipo.png}" type="image/png">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/general/css/formato.css}">
    <link rel="stylesheet" th:href="@{/general/css/header.css}">
    <link rel="stylesheet" th:href="@{/contactanos/css/contactanos.css}">
    <link rel="stylesheet" th:href="@{/general/css/footer.css}">
    <link rel="stylesheet" th:href="@{/general/css/sliderMain.css}">

    <link rel="stylesheet" th:href="@{/terminos-condiciones/css/style.css}">

    <!-- JS -->
    <script th:src="@{https://kit.fontawesome.com/a7b7960e39.js}" crossorigin="anonymous"></script>
    <script th:src="@{/general/js/header.js}"></script>
    <script th:src="@{/general/js/contactanos.js}"></script>
</head>

<body>
    <!-- INICIO HEADER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
    <header>
        <div id="head-div-1">
            <div class="contenedor">
                <div class="head-div-1-sub">
                    <p>
                        Correo electrónico: <a href="mailto:labrujastore@outlook.com">labrujastore@outlook.com</a>
                    </p>
                </div>
                <div class="dropdown" style="display: none;">
                    <button class="dropdown-toggle" on:click={openModal}>Iniciar Sesión</button>
                </div>
            </div>
        </div>
        <div id="head-div-2">
            <div class="head-div-2-part1">
                <div class="contenedor-2">
                    <!--Logo Header-->
                    <div class="head-div-2-part1-1">
                        <a href="/">
                            <img loading="lazy" th:src="@{/general/img/logo.png}" alt="Logo La Bruja Store" />
                        </a>
                    </div>

                    <div class="barra-bus-btn">
                        <!-- Hamburguesa para abrir sidebar izquierdo - celulares -->
                        <div class="abrir mostrar-opc-mobil">
                            <label for="open-silebar" class="centered-label">
                                <i class="fa-solid fa-bars img-menu" style="color: #000000; padding: 10px;"></i>
                            </label>
                        </div>

                        <!--Buscador-->
                        <div class="head-div-2-part1-2">
                            <div class="abrir-slider">
                                <label class="centered-label" for="open-silebar">Categorias</label>
                            </div>
                            <div class="cont-form-search">
                                <div>
                                    <form class="form-busqueda" action="" method="post">
                                        <div class="form-busqueda-input"><input type="text" name="buscador-pro"
                                                id="buscador-producto" placeholder="Estoy buscando..." /></div>
                                        <div><button><img loading="lazy" th:src="@{/general/img/icon/lupa.svg}"
                                                    alt="" /></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="busqueda-productos">
                                    <ul class="grupo-productos-busqueda">
                                    
                                        <!-- Accesorio -->
                                        <li th:each="producto : ${vistaAccesorios}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.accesorioId}, tipo='accesorio')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Almacenamiento -->
                                        <li th:each="producto : ${vistaAlmacenamientos}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.almacenamientoId}, tipo='almacenamiento')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Casse -->
                                        <li th:each="producto : ${vistaCasses}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.casseId}, tipo='casse')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Fuente -->
                                        <li th:each="producto : ${vistaFuentes}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.fuenteId}, tipo='fuente')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Laptop -->
                                        <li th:each="producto : ${vistaLaptops}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.laptopId}, tipo='laptop')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Monitor -->
                                        <li th:each="producto : ${vistaMonitores}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.monitorId}, tipo='monitor')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- Placa Madre -->
                                        <li th:each="producto : ${vistaPlacas}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.placaId}, tipo='placa')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Procesador -->
                                        <li th:each="producto : ${vistaProcesadores}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.procesadorId}, tipo='procesador')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Memoria ram -->
                                        <li th:each="producto : ${vistaRams}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.ramId}, tipo='ram')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Refrigeracion -->
                                        <li th:each="producto : ${vistaRefrigeraciones}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.refrigeracionId}, tipo='refrigeracion')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Tarjeta Gráfica -->
                                        <li th:each="producto : ${vistaTarjetas}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.tarjetaId}, tipo='tarjeta')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Combo -->
                                        <li th:each="producto : ${vistaCombos}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.comboId}, tipo='combo')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <script th:src="@{/general/js/buscador-producto.js}"></script>
                        <script th:src="@{/general/js/quitar-form-input.js}"></script>

                        <!--Favorito y Carrito-->
                        <div class="head-div-2-part1-3">
                            <!--Contador de favoritos-->
                            <a class="link-bnt" style="display: none;" href="/">
                                <div>
                                    <img loading="lazy" th:src="@{/general/img/icon/corazon.svg}" alt="" />
                                    <span class="contador-fav">4</span>
                                </div>
                            </a>
                            <!--Contador de carrito-->
                            <button class="link-bnt" id="boton_abrir--slider"
                                style="background: transparent; border: none; outline:none;">
                                <div>
                                    <img loading="lazy" th:src="@{/general/img/icon/carrito.svg}" alt="" />
                                    <span class="contador-car" id="cantidad-contador-carrito"></span>
                                    <p id="mostrarPrecioTotal"></p>
                                </div>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="head-div-2-part2">
        <div class="contenedor-3">
            <a class="cont-lista-op" href="/">INICIO</a>
            <a class="cont-lista-op" href="/catalogo/producto">CATALOGO</a>
            <a class="cont-lista-op" href="/contactanos">CONTACTANOS</a>
            <a class="cont-lista-op" href="/about">ACERCA DE</a>
            <a class="cont-lista-op" href="/cotizacion">COTIZACIÓN</a>
            <!-- <a class="cont-lista-op" href="/">CARRITO</a>-->
        </div>
    </div>

    <!-- SIDEBAR CATEGORIAS -->
    <div id="background-silebar">
        <div id="contenedor-silebar">

            <!-- Contenedor para la columna de categoria -->
            <div id="silebar-categorias">
                <div class="close-silebar">
                    <label for="close-silebar"><img loading="lazy" th:src="@{/general/img/icon/equis.svg}"
                            alt=""></label>
                </div>
                <ul>
                    <a href="/catalogo/producto">
                        <li class="listaItems">
                            <span>CATALOGO</span>
                        </li>
                    </a>
                    <hr>
                    <a th:each="categoria : ${vistaCategorias}" th:href="@{'/catalogo/' + ${categoria.nombreUrl}}">
                        <li class="listaItems">
                            <span th:text="${categoria.nombre}"></span>
                            <img loading="lazy" class="simbolo" th:src="@{/general/img/icon/angle-right.svg}" alt=""
                                style="width: 12px;">
                        </li>
                    </a>
                    <hr>
                    <a href="/">
                        <li class="listaItems">
                            <span>INICIO</span>
                        </li>
                    </a>
                    <a href="/contactanos">
                        <li class="listaItems">
                            <span>CONTACTANOS</span>
                        </li>
                    </a>
                    </a>
                    <a href="/about">
                        <li class="listaItems">
                            <span>SOBRE NOSOTROS</span>
                        </li>
                    </a>
                    <a href="/cotizacion">
                        <li class="listaItems">
                            <span>COTIZAR ONLINE</span>
                        </li>
                    </a>
                    <a href="">
                        <li class="listaItems">
                            <span></span>
                        </li>
                    </a>
                </ul>
            </div>

            <!-- Contenedor para las subcategoria de las categorias -->
            <div id="silebar-subcategoria">
                <div>
                    <div>
                        <!-- Encabezado -->
                        <div>
                            <div>
                                <img loading="lazy" src="" alt="" />
                                <!--Icono referente a la categoria-->
                            </div>
                            <a href="/">Productos</a>
                        </div>
                        <a href="/">Ver todo</a>
                    </div>

                    <!-- Contenido de cada sub categoria -->
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SIDEBAR DE CARRITO -->
    <div id="background-silebar-carrito">
        <div id="contenedor-silebar-carrito" style="overflow: hidden scroll;">

            <!-- Contenedor para la columna de categorias -->
            <div id="silebar-categorias-carrito">
                <div class="close-silebar-carrito">
                    <label for="close-silebar-carrito"><img loading="lazy" th:src="@{/general/img/icon/equis.svg}"
                            alt=""></label>
                </div>
            </div>
            <p style="text-align: center; font-size: 18px; font-weight: 700;">Carrito</p>
            <!-- Contenedor para las subcategoria de las categorias -->
            <div id="silebar-subcategoria-carrito">
                <!-- Aquí van los productos -->
            </div>
            <div class="contenido_productos-pago">
                <p class="cantidad_productos_contenido"><span id="cantidad_productos_obtenidos"
                        class="cantidad_producto--span"></span></p>
                <p class="total_pagar_productos">Total a pagar: <span id="precio_total_productos"
                        class="total_pagar-span"></span></p>
            </div>
            <a href="/contactanos">
                <button class="comprar_productos_carrito">COMPRAR PRODUCTOS</button>
            </a>
        </div>
    </div>
    <!-- FIN HEADER ----------------------------------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------->


    <!-- INICIO CONTENIDO ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
    <section class="contactos">
        <div class="contactos__header">
            <div class="seguimiento">
                <p>
                    <a th:href="@{/}"><span class="seguimiento__etiqueta">Hogar </span></a>
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="/terminos-condiciones"><span class="seguimiento__contacto"> Términos y
                            Condiciones</span></a>
                </p>
            </div>
            <div class="seguimiento__dos">
                <h2 class="seguimiento__titulo">TERMINOS Y CONDICIONES</h2>
            </div>
        </div>
        <hr />

        <div>
            <h2 class="privacidad__title">TERMINOS Y CONDICIONES</h2>
            <div class="sepa">
                <p class="descripcion__termino">
                    El presente documento describe los <strong>“Términos y Condiciones”</strong>, así mismo, la
                    Política de Privacidad aplica para el acceso y uso de los servicios prestados por
                    <strong>LA BRUJA STORE S.R.L.</strong>
                    Estos términos y condiciones existen en el sitio web
                    <strong> https://labrujastore.com.pe/ </strong>, sus subdominios y/u otras partes relacionadas
                    (urls adjuntas) (en adelante “labrujastore.com” o el “Sitio Web”). Cualquier persona que
                    desee acceder, registrarse o utilizar el Sitio o los Servicios puede hacerlo de acuerdo con
                    los Términos y Condiciones Generales, la <strong>Política de Privacidad</strong> y todas las
                    demás políticas que operan labrujastore.com y según lo establecido en el presente. o descripciones
                    de referencia y/o información de otras partes de este sitio web. Por lo tanto, todo acceso, todos
                    los acuerdos y actividades realizadas en este sitio web y sus efectos legales se rigen por las
                    leyes y normas vigentes en el Perú.
                </p>
                <p class="descripcion__termino">
                    Los Usuarios deben leer, comprender y aceptar todos los términos establecidos en los
                    Términos y Condiciones Generales y <strong>Política de Privacidad</strong> de
                    <strong>LA BRUJA STORE S.R.L.</strong> y otros documentos, antes de registrarse como usuario
                    de labrujastore.com y/o acceder a productos y enviar información, sujeto a la información presentada
                    y proporcionada en los Términos y Condiciones.
                </p>
                <p class="descripcion__termino">
                    Cuando visitas <strong>https://labrujastore.com.pe/</strong>, estás conectado electrónicamente
                    a
                    <strong>LA BRUJA STORE.</strong>
                    De esta manera, su aceptación del contenido anterior significa que lo acepta y reconoce plenamente,
                    y promete cumplir con este contenido en todos los aspectos; de manera similar, acepta que recibamos
                    información de LA BRUJA STORE vía correo electrónico o publiquemos información en su portal.
                </p>
            </div>
            <div class="sepa">
                <span class="subtitle__termino">Clientes Registrados</span>
                <p class="descripcion__termino">
                    Los clientes registrados en <strong>LA BRUJA STORE S.R.L.</strong> Sólo ingresan sus propios
                    datos, los cuales se consideran confiables y actualizados. Es responsabilidad exclusiva del
                    cliente verificar esta información. Como parte de nuestras operaciones, daremos cumplimiento
                    a la <strong>Ley N° 29733 – Ley de Protección de Datos Personales</strong>, Reglamento
                    aprobado por <strong>Decreto Supremo 003-2013-JUS</strong> y sus normas complementarias y
                    modificatorias (Todo ello se define a continuación como
                    <strong>“Normativa de Protección de Datos Personales”)</strong> . La información que creamos
                    y lo que hacemos se almacena en el banco privado de LA BRUJA STORE S.R.L.
                </p>
                <p class="descripcion__termino">
                    Un cliente de <strong>LA BRUJA STORE S.R.L.</strong> puede dejar de serlo según la decisión
                    de
                    <strong>LA BRUJA STORE S.R.L.</strong>, sin necesidad de justificación alguna. Los
                    distribuidores o clientes de <strong>LA BRUJA STORE S.R.L.</strong> aceptan los términos de
                    esta política comercial y de distribución al realizar la compra y/o recibir una factura o
                    boleta de <strong>LA BRUJA STORE S.R.L.</strong>
                </p>
            </div>
            <div class="sepa">
                <span class="subtitle__termino">Productos y Precios</span>
                <p class="descripcion__termino">
                    Los precios y productos ofrecidos en <strong>https://labrujastore.com.pe/</strong> difieren de
                    los ofrecidos por otros canales de venta utilizados por
                    <strong>LA BRUJA STORE S.R.L.</strong>
                    (e.g. centros comerciales, comerciales de televisión, libros, etc.), excepto en este sitio web
                    o mencionado en anuncios de <strong>LA BRUJA STORE S.R.L.</strong> para cada promoción,
                    hasta la recepción de la orden de compra, <strong>LA BRUJA STORE S.R.L.</strong> comienza desde
                    el momento de la confirmación del cumplimiento, es decir, las partes de una determinada transacción
                    (pago) han acordado.
                </p>
                <p class="descripcion__termino">
                    Los precios y productos de este sitio web son válidos únicamente a partir de la fecha en que
                    se muestran en el sitio web <strong>https://labrujastore.com.pe/</strong> y están sujetos a cambios
                    sin previo aviso.
                </p>
                <p class="descripcion__termino">
                    Los precios de los productos ofrecidos en este sitio web se muestran en la moneda nacional
                    (sol). Los cargos relacionados con el valor de los productos entregados (Ic. IVA) no
                    incluyen transporte, manipulación, entrega, mercancías sin marcar u otros cargos.
                </p>
                <p class="descripcion__termino">
                    El precio de muchos productos disponibles en nuestro sitio web o redes sociales puede ser
                    incorrecto y el monto de pago correcto se mostrará en su carrito de compras antes de pagar
                    (crédito, crédito, pago o cambio). Si tras la compra, hay un error tipográfico en el precio
                    de alguno de los productos y el precio correcto es superior al precio que aparece en la web,
                    <strong>https://labrujastore.com.pe/</strong>, nos pondremos en contacto contigo antes de
                    enviar/cancelar el pedido. Le avisaremos de la cancelación. Si el precio es inferior, la
                    diferencia se descontará del pedido final de compra.
                </p>
                <p class="descripcion__termino">
                    Si se excede la cantidad permitida, el pedido se suspenderá durante un tiempo acordado entre
                    la empresa y el cliente y el cliente deberá devolver la mercancía para completar el pedido.
                    Si cancela un pedido que ha sido pagado con tarjeta de crédito o débito, el importe se
                    abonará en el plazo especificado por la entidad bancaria.
                </p>
                <p class="descripcion__termino">
                    El producto, modelo, modelo y número de modelo se enumeran debajo de los productos en la
                    tienda en línea. No hay motivo para realizar un reclamo por seleccionar el modelo de
                    producto incorrecto.
                </p>
                <p class="descripcion__termino">
                    <strong>https://labrujastore.com.pe/</strong> proporciona información relativa a la configuración
                    del producto o su funcionalidad. Es responsabilidad del comprador o vendedor verificar la calidad
                    de los productos que adquiere y asegurarse de que sus servicios cumplan con los requisitos de
                    cada situación.
                </p>
            </div>
            <div class="sepa">
                <span class="subtitle__termino">Stock</span>
                <p class="descripcion__termino">
                    <strong>https://labrujastore.com.pe/</strong> es responsable de actualizar el sitio web y
                    monitorear continuamente su contenido, sin embargo,
                    <strong>https://labrujastore.com.pe/</strong>
                    puede cambiar y descontinuar productos y servicios en cualquier momento sin responsabilidad alguna
                    para los usuarios.
                </p>
                <p class="descripcion__termino">
                    Por lo tanto, <strong>https://labrujastore.com.pe/</strong> se reserva el derecho de no aceptar
                    solicitudes de compra y por tanto de no entregar productos si no han sido solicitados. Las
                    solicitudes de compra de <strong>https://labrujastore.com.pe/</strong> se confirman en función
                    de la disponibilidad del producto, precio, perfil del cliente. Por lo tanto,<strong>
                        https://labrujastore.com.pe/</strong>
                    se reserva el derecho de no aceptar solicitudes de compra y de no enviar mercancías sin una
                    solicitud.
                    Las órdenes de compra desde <strong>https://labrujastore.com.pe/</strong>se confirman en
                    función de la disponibilidad del producto, precio, perfil del cliente y forma de pago. Si
                    alguna de estas condiciones fuera incorrecta no se podrán realizar cambios en el pedido de
                    compra y se informará al cliente de la cancelación mediante correo electrónico (indicado por
                    el cliente al registrarse en la web) o telefónicamente (si es necesario). El día hábil
                    siguiente a la fecha de recepción de la orden de compra.
                </p>
            </div>
            <div class="sepa">
                <span class="subtitle__termino" style="display: block; margin-bottom: 1rem;">Política de entrega</span>
                <b class="trie__title">Plazo de entrega</b>
                <p class="descripcion__termino">
                    Una vez finalizada su compra, por favor espere más de 4 días hábiles para el envío desde
                    nuestra cuenta corriente, esto aplica para entrega en la ciudad de Lima. Para nuestras
                    entregas locales, espere aproximadamente 4 días hábiles para la entrega a la empresa de
                    envío elegida. Además de las referencias locales, se le enviarán instrucciones de entrega
                    por correo electrónico o teléfono móvil.
                </p>
                <p class="descripcion__termino">
                    Además de las referencias locales, se le enviarán instrucciones de entrega por correo
                    electrónico o teléfono móvil.
                </p>
                <b class="trie__title">Horario de Entrega</b>
                <p class="descripcion__termino">
                    Nuestro horario de entrega en Lima es de lunes a sábado de 11am a 6pm.
                </p>
                <b class="trie__title">Área de Entrega</b>
                <p class="descripcion__termino">
                    Realizamos envíos a todo el nivel nacional a través de empresas de entrega afiliadas a <strong>LA
                        BRUJA
                        STORE S.R.L.</strong> Nuestros servicios de entrega en la Ciudad de Lima son compatibles con los
                    distintos distritos
                    que conforman Lima Metropolitana, sujeto a disponibilidad del transportista.
                </p>
                <b class="trie__title">Condiciones de entrega </b>
                <p class="descripcion__termino">
                    Nuestras condiciones de entrega para productos comprados en
                    <strong>https://labrujastore.com.pe/</strong> son:
                </p>
                <ul>
                    <li>
                        <strong>Recogida en tienda.-</strong> La dirección que se encuentra en nuestro sitio web.
                    </li>
                    <li>
                        <strong>Mediante delivery.-</strong> Firma del vendedor indicando precio e importe de venta.
                    </li>
                    <li>
                        <strong>Entrega a Provincia.-</strong> Enviamos instrucciones de entrega desde la empresa de
                        envío seleccionada por el cliente vía email y teléfono, mostrando el estado de entrega de
                        nuestro
                        pedido.
                    </li>
                </ul>
                <b class="trie__title">Tarifas de envío </b>
                <p class="descripcion__termino">Nuestras tarifas de envío:</p>
                <ul>
                    <li>
                        Nuestros cargos de envío varían según el área especificada
                        al momento de la compra, no hay costo adicional por recoger en tienda, no realizamos envíos
                        a otras áreas.
                    </li>
                </ul>
                <b class="trie__title">Métodos de Pago </b>
                <p class="descripcion__termino">
                    Nuestros productos y servicios en la tienda virtual <strong>https://labrujastore.com.pe/</strong>
                    serán cancelados si no se transfieren a la cuenta de <strong>LA BRUJA STORE S.R.L.</strong> Si
                    un cliente luego desea pagar su pedido después de la entrega, puede agregar dinero para pagar
                    su pedido mediante pago con tarjeta y un recargo del 5% o transferencia bancaria.
                </p>
                <p class="descripcion__termino">
                    Las tarjetas aceptadas en este sitio incluyen: Tarjetas de crédito y/o débito VISA,
                    MasterCard, Diners Club, American Express. El uso de la Tarjeta está sujeto a las
                    condiciones aplicables al Emisor de la Tarjeta establecidas en estos Términos y Condiciones
                    y a las disposiciones acordadas en el Acuerdo de Apertura y los Términos de Uso. Los pagos
                    con tarjeta de crédito a través de <strong>https://labrujastore.com.pe/</strong> están sujetos a
                    las condiciones establecidas por el banco emisor mencionado anteriormente.
                </p>
                <p class="descripcion__termino">
                    En lo referente a las tarjetas bancarias aceptadas en este sitio, los detalles relacionados
                    con su fecha de emisión, fecha de vencimiento, límite de crédito, bloqueos, contraseña
                    secreta, entre otros, estarán sujetos al Contrato de Apertura y Reglamento de Uso
                    correspondiente. En consecuencia, <strong>LA BRUJA STORE S.R.L</strong> no asumirá responsabilidad
                    alguna sobre dichos aspectos. El sitio podría especificar condiciones de compra según el método
                    de pago seleccionado por el usuario.
                </p>
            </div>
        </div>

    </section>
    <!-- FIN CONTENIDO ----------------------------------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------->


    <!-- INICIO FOOTER ----------------------------------------------------------------------------------------------------------
        	----------------------------------------------------------------------------------------------------------------------------->
    <footer>
        <div class="line-red"></div>
        <div class="body-footer">
            <div class="cont-footer">
                <div class="logo-footer">
                    <img loading="lazy" th:src="@{/general/img/logo.png}" class="articulo__imagen" width="315px">
                </div>
                <div class="descp-footer">
                    <p>
                        Consigue las mejores marcas a los mejores<br>
                        precios, aquí en La Bruja Store.
                    </p>
                    <p>
                        Síguenos en nuestras redes sociales:
                    </p>
                </div>
                <div class="cont-redes-footer">
                    <ul>
                        <li>
                            <a class="style-icon" target="_blank" th:href="@{https://www.facebook.com/LaBrujaStoreOficial?locale=es_LA}">
                                <img loading="lazy" class="icon-redes" th:src="@{/general/img/icon/facebook.svg}">
                            </a>
                        </li>
                        <li>
                            <a class="style-icon" target="_blank" th:href="@{https://www.instagram.com/labrujastoreaqp?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==}">
                                <img loading="lazy" class="icon-redes" th:src="@{/general/img/icon/instagram.svg}">
                            </a>
                        </li>
                        <li>
                            <a class="style-icon" target="_blank" th:href="@{https://www.tiktok.com/@labrujastoreaqp?is_from_webapp=1&sender_device=pc}">
                                <img loading="lazy" class="icon-redes" th:src="@{/general/img/icon/tiktok.svg}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont-footer">
                <div class="head-cont-footer">
                    <h2 class="informacion__titulo">CONTÁCTANOS</h2>
                    <div class="informacion__dividir"></div>
                </div>
                <ul class="informacion__lista">
                    <li><a th:href="@{/contactanos}"><i class="fa-brands fa-whatsapp"></i> CONTACTANOS</a></li>
                    <li><a target="_blank" th:href="@{https://maps.app.goo.gl/YrVFaSiMSWnPVonT9}"><i class="fa-solid fa-location-dot"></i> AREQUIPA: C.C. CompuArequipa Tienda 133 y 219</a></li>
                    <li><a target="_blank" th:href="@{https://maps.app.goo.gl/7fpzHPvQvTrB4zeM9}"><i class="fa-solid fa-location-dot"></i> LIMA: C.C. Cyberplaza tienda 140 sector 2 B</a></li>
                    <li><a href="mailto:labrujastore@outlook.com"><i class="fa-solid fa-envelope"></i> labrujastore@uotlook.com</a></li>
                </ul>
            </div>
            <div class="cont-footer">
                <div class="head-cont-footer">
                    <h2 class="informacion__titulo">POLÍTICAS</h2>
                    <div class="informacion__dividir"></div>
                </div>
                <ul class="informacion__lista">
                    <li><a href="/about">Nosotros</a></li>
                    <li><a href="/politica-privacidad">Políticas de Privacidad</a></li>
                    <li><a href="/terminos-condiciones">Términos y Condiciones</a></li>
                    <li><a href="/politica-garantia">Devoluciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="copyright">
            <p>Labrujastore© 2024 todos los derechos reservados.</p>
        </div>

    </footer>
    <!-- FIN FOOTER ----------------------------------------------------------------------------------------------------------
        	----------------------------------------------------------------------------------------------------------------------------->
    <script th:src="@{/general/js/abrir-slider.js}"></script>

</body>

</html>