<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/cotizacion/css/estilos.css}">
</head>

<body>
    <h1>Catalogo</h1>

    <form action="/cotizacion/generarCotizacion" method="post">
        <h1>REALIZA TU COTIZACION</h1>

        <!-- Primer select para procesadores -->
        <label for="procesador">Procesador:</label>
        <select name="procesador" id="procesador">
            <option value="" selected disabled>Seleccionar</option>
            <option th:each="procesador : ${procesadores}" th:value="${procesador.id}"
                th:data-precio="${procesador.precio}" th:text="${procesador.nombre}"></option>
        </select>
        <span id="precioProcesador">Precio: S/. 0.00</span><br>

        <!-- Segundo select para placas -->
        <label for="placa">Placa:</label>
        <select name="placa" id="placa">
            <option value="" selected disabled>Seleccionar</option>
            <option th:each="placa : ${placas}" th:value="${placa.id}" th:data-precio="${placa.precio}"
                th:text="${placa.nombre}"></option>
        </select>
        <span id="precioPlaca">Precio: S/. 0.00</span><br>

        <!-- Tercer select para RAM -->
        <label for="ram">RAM:</label>
        <select name="ram" id="ram">
            <option value="" selected disabled>Seleccionar</option>
            <option th:each="ram : ${rams}" th:value="${ram.id}" th:data-precio="${ram.precio}" th:text="${ram.nombre}">
            </option>
        </select>
        <span id="precioRam">Precio: S/. 0.00</span><br>

        <span id="precioTotal">Precio Total: S/. 0.00</span><br>

        <button type="submit">Generar Cotización</button>
    </form>

    <footer>
        <p>&copy; 2023 La Bruja Store. Todos los derechos reservados.</p>
    </footer>
</body>

</html>