<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/prueba/cotizacion" method="post">

        <label for="procesador">Selecciona un procesador:</label>
        <select name="procesadorId" id="procesador" onchange="actualizarPlacas()">
            <option value="">Selecciona un procesador</option>
            <option th:each="procesador : ${procesadores}" th:value="${procesador.procesadorId}" th:text="${procesador.nombre}"></option>
        </select>

        <label for="placa">Selecciona una placa:</label>
        <select name="placaId" id="placa" onchange="actualizarRams()" disabled>
            <option value="" selected>Selecciona una placa</option>
            <option th:each="placa : ${placas}" th:value="${placa.placaId}" th:text="${placa.nombre}" th:attr="data-procesadores=${procesadoresCompatibles[__${placa.placaId}__]}" style="display: none;"></option>
        </select>

        <label for="ram1">Selecciona una RAM 1:</label>
        <select name="ramId1" id="ram1" disabled>
            <option value="" selected>Selecciona una RAM</option>
            <option th:each="ram : ${rams}" th:value="${ram.ramId}" th:text="${ram.nombre}" th:attr="data-placas=${placasCompatibles[__${ram.ramId}__]}" style="display: none;"></option>
        </select>

        <label for="ram2">Selecciona una RAM 2:</label>
        <select name="ramId2" id="ram2" disabled>
            <option value="" selected>Selecciona una RAM</option>
            <option th:each="ram : ${rams}" th:value="${ram.ramId}" th:text="${ram.nombre}" th:attr="data-placas=${placasCompatibles[__${ram.ramId}__]}" style="display: none;"></option>
        </select>

        <button>Actualizar</button>

    </form>

    <script type="text/javascript">
        // Guardar una copia de todas las opciones del selector de placas
        var placasOriginales = document.getElementById("placa").innerHTML;
        // Guardar una copia de todas las opciones del selector de RAM 1
        var rams1Originales = document.getElementById("ram1").innerHTML;
        // Guardar una copia de todas las opciones del selector de RAM 2
        var rams2Originales = document.getElementById("ram2").innerHTML;

        function actualizarPlacas() {
            var procesadorId = document.getElementById("procesador").value;
            var placaSelect = document.getElementById("placa");
            placaSelect.disabled = true;

            // Restablecer el contenido del selector de placas
            placaSelect.innerHTML = placasOriginales;

            // Restablecer el contenido del selector de RAM 1
            document.getElementById("ram1").innerHTML = rams1Originales;
            // Restablecer el contenido del selector de RAM 2
            document.getElementById("ram2").innerHTML = rams2Originales;

            if (procesadorId !== "") {
                placaSelect.disabled = false;
                var placas = document.querySelectorAll('#placa option:not([value=""])');
                placas.forEach(function(option) {
                    if (option.getAttribute('data-procesadores').includes(procesadorId)) {
                        option.style.display = 'block';
                    } else {
                        option.style.display = 'none';
                    }
                });
            }
        }

        function actualizarRams() {
            var placaId = document.getElementById("placa").value;
            var ram1Select = document.getElementById("ram1");
            var ram2Select = document.getElementById("ram2");
            ram1Select.disabled = true;
            ram2Select.disabled = true;

            ram1Select.innerHTML = rams1Originales;
            ram2Select.innerHTML = rams2Originales;

            document.getElementById("ram1").innerHTML = rams1Originales;
            document.getElementById("ram2").innerHTML = rams2Originales;

            if (placaId !== "") {
                ram1Select.disabled = false;
                ram2Select.disabled = false;
                var rams1 = document.querySelectorAll('#ram1 option:not([value=""])');
                rams1.forEach(function(option) {
                    if (option.getAttribute('data-placas').includes(placaId)) {
                        option.style.display = 'block';
                    } else {
                        option.style.display = 'none';
                    }
                });
                var rams2 = document.querySelectorAll('#ram2 option:not([value=""])');
                rams2.forEach(function(option) {
                    if (option.getAttribute('data-placas').includes(placaId)) {
                        option.style.display = 'block';
                    } else {
                        option.style.display = 'none';
                    }
                });
            }
        }
    </script>
</body>
</html>
