<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metas para la búsqueda de google -->
    <title>Política de Garantía - LaBrujaStore</title>
    <meta name="description"
        content="Da un vistaso a nuestros terminos y condicones de nuestra empresa La Bruja Store.">
    <meta name="robots" content="index">
    <meta name="keywords" content=""> <!--Palabras claves o tags-->

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <link rel="icon" th:href="@{/general/img/logotipo.png}" type="image/png">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/general/css/formato.css}">
    <link rel="stylesheet" th:href="@{/general/css/header.css}">
    <link rel="stylesheet" th:href="@{/contactanos/css/contactanos.css}">
    <link rel="stylesheet" th:href="@{/general/css/footer.css}">
    <link rel="stylesheet" th:href="@{/general/css/sliderMain.css}">

    <link rel="stylesheet" th:href="@{/terminos-condiciones/css/style.css}">

    <!-- JS -->
    <script th:src="@{https://kit.fontawesome.com/a7b7960e39.js}" crossorigin="anonymous"></script>
    <script th:src="@{/general/js/header.js}"></script>
    <script th:src="@{/general/js/contactanos.js}"></script>
</head>

<body>
    <!-- INICIO HEADER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
    <header>
        <div id="head-div-1">
            <div class="contenedor">
                <div class="head-div-1-sub">
                    <p>
                        Correo electrónico: <a href="mailto:labrujastore@outlook.com">labrujastore@outlook.com</a>
                    </p>
                </div>
                <div class="dropdown" style="display: none;">
                    <button class="dropdown-toggle" on:click={openModal}>Iniciar Sesión</button>
                </div>
            </div>
        </div>
        <div id="head-div-2">
            <div class="head-div-2-part1">
                <div class="contenedor-2">
                    <!--Logo Header-->
                    <div class="head-div-2-part1-1">
                        <a href="/">
                            <img loading="lazy" th:src="@{/general/img/logo.png}" alt="Logo La Bruja Store" />
                        </a>
                    </div>

                    <div class="barra-bus-btn">
                        <!-- Hamburguesa para abrir sidebar izquierdo - celulares -->
                        <div class="abrir mostrar-opc-mobil">
                            <label for="open-silebar" class="centered-label">
                                <i class="fa-solid fa-bars img-menu" style="color: #000000; padding: 10px;"></i>
                            </label>
                        </div>

                        <!--Buscador-->
                        <div class="head-div-2-part1-2">
                            <div class="abrir-slider">
                                <label class="centered-label" for="open-silebar">Categorias</label>
                            </div>
                            <div class="cont-form-search">
                                <div>
                                    <form class="form-busqueda" action="" method="post">
                                        <div class="form-busqueda-input"><input type="text" name="buscador-pro"
                                                id="buscador-producto" placeholder="Estoy buscando..." /></div>
                                        <div><button><img loading="lazy" th:src="@{/general/img/icon/lupa.svg}"
                                                    alt="" /></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="busqueda-productos">
                                    <ul class="grupo-productos-busqueda">
                                    
                                        <!-- Accesorio -->
                                        <li th:each="producto : ${vistaAccesorios}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.accesorioId}, tipo='accesorio')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Almacenamiento -->
                                        <li th:each="producto : ${vistaAlmacenamientos}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.almacenamientoId}, tipo='almacenamiento')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Casse -->
                                        <li th:each="producto : ${vistaCasses}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.casseId}, tipo='casse')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Fuente -->
                                        <li th:each="producto : ${vistaFuentes}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.fuenteId}, tipo='fuente')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Laptop -->
                                        <li th:each="producto : ${vistaLaptops}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.laptopId}, tipo='laptop')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Monitor -->
                                        <li th:each="producto : ${vistaMonitores}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.monitorId}, tipo='monitor')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- Placa Madre -->
                                        <li th:each="producto : ${vistaPlacas}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.placaId}, tipo='placa')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Procesador -->
                                        <li th:each="producto : ${vistaProcesadores}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.procesadorId}, tipo='procesador')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Memoria ram -->
                                        <li th:each="producto : ${vistaRams}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.ramId}, tipo='ram')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Refrigeracion -->
                                        <li th:each="producto : ${vistaRefrigeraciones}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.refrigeracionId}, tipo='refrigeracion')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Tarjeta Gráfica -->
                                        <li th:each="producto : ${vistaTarjetas}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.tarjetaId}, tipo='tarjeta')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Combo -->
                                        <li th:each="producto : ${vistaCombos}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.comboId}, tipo='combo')}">
                                                <div class="div-produc-filt">
                                                    <!-- <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div> -->
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <script th:src="@{/general/js/buscador-producto.js}"></script>
                        <script th:src="@{/general/js/quitar-form-input.js}"></script>

                        <!--Favorito y Carrito-->
                        <div class="head-div-2-part1-3">
                            <!--Contador de favoritos-->
                            <a class="link-bnt" style="display: none;" href="/">
                                <div>
                                    <img loading="lazy" th:src="@{/general/img/icon/corazon.svg}" alt="" />
                                    <span class="contador-fav">4</span>
                                </div>
                            </a>
                            <!--Contador de carrito-->
                            <button class="link-bnt" id="boton_abrir--slider"
                                style="background: transparent; border: none; outline:none;">
                                <div>
                                    <img loading="lazy" th:src="@{/general/img/icon/carrito.svg}" alt="" />
                                    <span class="contador-car" id="cantidad-contador-carrito"></span>
                                    <p id="mostrarPrecioTotal"></p>
                                </div>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="head-div-2-part2">
        <div class="contenedor-3">
            <a class="cont-lista-op" href="/">INICIO</a>
            <a class="cont-lista-op" href="/catalogo/producto">CATALOGO</a>
            <a class="cont-lista-op" href="/contactanos">CONTACTANOS</a>
            <a class="cont-lista-op" href="/about">ACERCA DE</a>
            <a class="cont-lista-op" href="/cotizacion">COTIZACIÓN</a>
            <!-- <a class="cont-lista-op" href="/">CARRITO</a>-->
        </div>
    </div>

    <!-- SIDEBAR CATEGORIAS -->
    <div id="background-silebar">
        <div id="contenedor-silebar">

            <!-- Contenedor para la columna de categoria -->
            <div id="silebar-categorias">
                <div class="close-silebar">
                    <label for="close-silebar"><img loading="lazy" th:src="@{/general/img/icon/equis.svg}"
                            alt=""></label>
                </div>
                <ul>
                    <a href="/catalogo/producto">
                        <li class="listaItems">
                            <span>CATALOGO</span>
                        </li>
                    </a>
                    <hr>
                    <a th:each="categoria : ${vistaCategorias}" th:href="@{'/catalogo/' + ${categoria.nombreUrl}}">
                        <li class="listaItems">
                            <span th:text="${categoria.nombre}"></span>
                            <img loading="lazy" class="simbolo" th:src="@{/general/img/icon/angle-right.svg}" alt=""
                                style="width: 12px;">
                        </li>
                    </a>
                    <hr>
                    <a href="/">
                        <li class="listaItems">
                            <span>INICIO</span>
                        </li>
                    </a>
                    <a href="/contactanos">
                        <li class="listaItems">
                            <span>CONTACTANOS</span>
                        </li>
                    </a>
                    </a>
                    <a href="/about">
                        <li class="listaItems">
                            <span>SOBRE NOSOTROS</span>
                        </li>
                    </a>
                    <a href="/cotizacion">
                        <li class="listaItems">
                            <span>COTIZAR ONLINE</span>
                        </li>
                    </a>
                    <a href="">
                        <li class="listaItems">
                            <span></span>
                        </li>
                    </a>
                </ul>
            </div>

            <!-- Contenedor para las subcategoria de las categorias -->
            <div id="silebar-subcategoria">
                <div>
                    <div>
                        <!-- Encabezado -->
                        <div>
                            <div>
                                <img loading="lazy" src="" alt="" />
                                <!--Icono referente a la categoria-->
                            </div>
                            <a href="/">Productos</a>
                        </div>
                        <a href="/">Ver todo</a>
                    </div>

                    <!-- Contenido de cada sub categoria -->
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SIDEBAR DE CARRITO -->
    <div id="background-silebar-carrito">
        <div id="contenedor-silebar-carrito" style="overflow: hidden scroll;">

            <!-- Contenedor para la columna de categorias -->
            <div id="silebar-categorias-carrito">
                <div class="close-silebar-carrito">
                    <label for="close-silebar-carrito"><img loading="lazy" th:src="@{/general/img/icon/equis.svg}"
                            alt=""></label>
                </div>
            </div>
            <p style="text-align: center; font-size: 18px; font-weight: 700;">Carrito</p>
            <!-- Contenedor para las subcategoria de las categorias -->
            <div id="silebar-subcategoria-carrito">
                <!-- Aquí van los productos -->
            </div>
            <div class="contenido_productos-pago">
                <p class="cantidad_productos_contenido"><span id="cantidad_productos_obtenidos"
                        class="cantidad_producto--span"></span></p>
                <p class="total_pagar_productos">Total a pagar: <span id="precio_total_productos"
                        class="total_pagar-span"></span></p>
            </div>
            <a href="/contactanos">
                <button class="comprar_productos_carrito">COMPRAR PRODUCTOS</button>
            </a>
        </div>
    </div>
    <!-- FIN HEADER ----------------------------------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------->


    <!-- INICIO CONTENIDO ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
    <section class="contactos">
        <div class="contactos__header">
            <div class="seguimiento">
                <p>
                    <a th:href="@{/}"><span class="seguimiento__etiqueta">Hogar </span></a>
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="/politica-garantia"><span class="seguimiento__contacto"> Política y garantía</span></a>
                </p>
            </div>
            <div class="seguimiento__dos">
                <h2 class="seguimiento__titulo">POLÍTICA Y GARANTÍA</h2>
            </div>
        </div>
        <hr />

        <div>
            <h2 class="privacidad__title">POLÍTICA Y GARANTÍA</h2>
            <div class="sepa">
                <p class="descripcion__termino">
                    En el presente daremos a conocer sobre los puntos que rigen nuestras políticas de garantía, reclamos, 
                    devoluciones y otros servicios que ofrece La Bruja Store a nuestros clientes.
                </p>
            </div>
            <div class="sepa">
                <span class="subtitle__termino">Garantía:</span>
                <p class="descripcion__termino">
                    Por tiempo de garantía tenemos que existe:
                </p>
                <ul>
                    <li>
                        Garantía de 6 meses: es para todos los productos comprendidos como periféricos y/o accesorios como son: Audífonos,
                        teclados, mouses, cables, parlantes, estabilizadores, switch, routers, extensores, puertos, adaptadores, tarjetas pci,
                        cases, coolers e impresoras que no sean adquiridas con una garantía extendida por los productos anteriormente
                        mencionados.
                    </li>
                    <li>
                        Garantía 12 meses: es para todos los productos tecnológicos, a excepción de los comprendidos en la categoría anterior de
                        periféricos y accesorios, los cuales comprenden, procesadores, placas, memorias RAMs, SSD, HDD, tarjetas de video,
                        fuentes de poder, sistemas de refrigeración, laptops, All in One, monitores y que no sean adquiridas con una garantía
                        extendida.
                    </li>
                    <li>
                        Garantía extendida: es aquella que se obtiene para para prolongar el tiempo de garantía de los productos, el cual puede
                        significar un adicional de 1 a 3 años, y por el cual se paga un monto adicional fuera del costo original del producto.
                    </li>
                </ul>
            </div>
            <div class="sepa">
                <span class="subtitle__termino">La garantía cubre:</span>
                <p class="descripcion__termino">
                    Solo por problemas de fábrica, se debe presentar, el comprobante de compra sin excepción, el producto debe estar
                    completo, el producto no debe presentar signos de daño físico o deterioro, los daños ocasionados por imprudencia del
                    usuario de manera directa o indirecta invalidan la garantía.
                </p>
                <ul>
                    <li>
                        Se comprende daños de fabrica a las fallas en cualquier componente de manera repentina sin causa sabida, es decir que no
                        haya habido alguna manipulación o sobrecarga de energía que haya dañado el producto directa o indirectamente.
                    </li>
                    <li>
                        Se exonera de daños de fabrica todo daño físico o deterioro producto de un mal uso o manipulación del producto por parte
                        del cliente. Estos pueden ser, caída de cualquier tipo de líquido, exposición a húmeda constante, falta de mantenimiento
                        del hardware, caída del producto, golpes sobre el producto, sobrevoltajes, roturas del producto, forcejeo de cables o
                        partes del producto, exposición a software dañinos que alteren el funcionamiento del hardware.
                    </li>
                    <li>
                        Si el producto tiene cualquier falla que no es cubierta por la garantía y el cliente busca alguna solución, podemos
                        ofrecerle servicio técnico, pero este tendrá un costo aparte colocado por nuestra área técnica, y no se ofrece la
                        totalidad de soluciones para cualquier falla, solo a las que nuestro personal capacitado y las condiciones del producto
                        nos permita trabajar.
                    </li>
                    <li>
                        La garantía no cubre respaldo de información contenida dispositivos de almacenamiento, por lo que cualquier daño de
                        estos componentes con información que no tenga algún respaldo no se podrá recuperar, la empresa no se hace responsable
                        de ello.
                    </li>
                </ul>
                <p class="descripcion__termino">
                    El tiempo de respuesta a la garantía se maneja de las siguientes formas:
                </p>
                <ul>
                    <li>
                        Si el producto presenta fallas por garantía dentro de los 7 días hábiles desde la compra, y si contamos con el modelo en
                        stock en la tienda de origen de compra del producto, el cambio es inmediato sin costo adicional. De no contar con stock
                        del producto, se le ofrece algún producto similar en costo o alguna alternativa a la cual pueda cambiar si se cubre el
                        costo adicional del producto.
                    </li>
                </ul>
                <p>
                    Si el producto presenta fallas por garantía pasado los 7 días hábiles desde la compra, el componente será internado para
                    la resolución del caso con la marca/proveedor del producto, lo cual tiene un tiempo máximo de 3 meses. Durante ese
                    tiempo se le mantiene informado al cliente sobre el proceso de garantía hasta su resolución. No ofrecemos productos de
                    respaldo por inoperancia del equipo, ya que todos nuestros productos son nuevos y se encuentran sellados.
                </p>
                <span class="subtitle__termino">Reclamos y devoluciones:</span>
                <p class="descripcion__termino">
                    La Empresa no acepta devoluciones sobre productos adquiridos. Se puede generar notas de crédito si es que el producto
                    presente alguna falla o existe una incompatibilidad del producto con otro componente propio del cliente, siempre que el
                    producto no se encuentre alterado, dañado y que no exista la forma de generar la compatibilidad.
                    Cualquier reclamo sobre productos, atención, asistencia y demás puede realizarla directamente con el encargado de
                    tienda. Así mismo puede solicitar el libro de reclamaciones virtual de acuerdo con lo normado por el articulo 150 de la
                    ley N° 29571.
                </p>
                <span class="subtitle__termino">Servicios post venta:</span>
                <ul>
                    <li>
                        El cliente tiene 4 mantenimientos gratis por la compra de PCs completas, los cuales se realizarán cada 6 meses en un
                        máximo de 2 años desde que se adquiere el producto, este mantenimiento se realiza en el soporte técnico de la empresa en
                        los horarios establecidos en nuestras tiendas de Lima y Arequipa.
                    </li>
                    <li>
                        Por la adquisición de PCs en nuestra tienda te damos asesoría tanto en el funcionamiento, mejora, repotenciación y
                        cualquier otra ayuda que necesite durante los horarios de atención a fin de que el cliente pueda sentirse seguro sobre
                        el producto adquirido. Esto es ofrecido solo por el producto completo adquirido en nuestras tiendas, cualquier servicio
                        adicional o fuera del producto adquirido en nuestra tienda tiene un costo aparte el cual es colocado por nuestra área
                        técnica, manteniendo una tarifa especial para clientes.
                    </li>
                </ul>
                <span class="subtitle__termino">Disposiciones finales.</span>
                <p class="descripcion__termino">
                    Para la atención de cualquiera de estos servicios, es necesario que se presente el comprobante de pago original, ya sea
                    en físico o como imagen. Se recomienda comunicarse previamente con su asesor de venta o a los números de las tiendas
                    para agendar citas y reducir así su tiempo de espera y atención.
                </p>
            </div>
            
        </div>

    </section>
    <!-- FIN CONTENIDO ----------------------------------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------->


    <!-- INICIO FOOTER ----------------------------------------------------------------------------------------------------------
        	----------------------------------------------------------------------------------------------------------------------------->
    <footer>
        <div class="line-red"></div>
        <div class="body-footer">
            <div class="cont-footer">
                <div class="logo-footer">
                    <img loading="lazy" th:src="@{/general/img/logo.png}" class="articulo__imagen" width="315px">
                </div>
                <div class="descp-footer">
                    <p>
                        Consigue las mejores marcas a los mejores<br>
                        precios, aquí en La Bruja Store.
                    </p>
                    <p>
                        Síguenos en nuestras redes sociales:
                    </p>
                </div>
                <div class="cont-redes-footer">
                    <ul>
                        <li>
                            <a class="style-icon" target="_blank" th:href="@{https://www.facebook.com/LaBrujaStoreOficial?locale=es_LA}">
                                <img loading="lazy" class="icon-redes" th:src="@{/general/img/icon/facebook.svg}">
                            </a>
                        </li>
                        <li>
                            <a class="style-icon" target="_blank" th:href="@{https://www.instagram.com/labrujastoreaqp?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==}">
                                <img loading="lazy" class="icon-redes" th:src="@{/general/img/icon/instagram.svg}">
                            </a>
                        </li>
                        <li>
                            <a class="style-icon" target="_blank" th:href="@{https://www.tiktok.com/@labrujastoreaqp?is_from_webapp=1&sender_device=pc}">
                                <img loading="lazy" class="icon-redes" th:src="@{/general/img/icon/tiktok.svg}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont-footer">
                <div class="head-cont-footer">
                    <h2 class="informacion__titulo">CONTÁCTANOS</h2>
                    <div class="informacion__dividir"></div>
                </div>
                <ul class="informacion__lista">
                    <li><a th:href="@{/contactanos}"><i class="fa-brands fa-whatsapp"></i> CONTACTANOS</a></li>
                    <li><a target="_blank" th:href="@{https://maps.app.goo.gl/YrVFaSiMSWnPVonT9}"><i class="fa-solid fa-location-dot"></i> AREQUIPA: C.C. CompuArequipa Tienda 133 y 219</a></li>
                    <li><a target="_blank" th:href="@{https://maps.app.goo.gl/7fpzHPvQvTrB4zeM9}"><i class="fa-solid fa-location-dot"></i> LIMA: C.C. Cyberplaza tienda 140 sector 2 B</a></li>
                    <li><a href="mailto:labrujastore@outlook.com"><i class="fa-solid fa-envelope"></i> labrujastore@uotlook.com</a></li>
                </ul>
            </div>
            <div class="cont-footer">
                <div class="head-cont-footer">
                    <h2 class="informacion__titulo">POLÍTICAS</h2>
                    <div class="informacion__dividir"></div>
                </div>
                <ul class="informacion__lista">
                    <li><a href="/about">Nosotros</a></li>
                    <li><a href="/politica-privacidad">Políticas de Privacidad</a></li>
                    <li><a href="/terminos-condiciones">Términos y Condiciones</a></li>
                    <li><a href="/politica-garantia">Devoluciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="copyright">
            <p>Labrujastore© 2024 todos los derechos reservados.</p>
        </div>

    </footer>
    <!-- FIN FOOTER ----------------------------------------------------------------------------------------------------------
        	----------------------------------------------------------------------------------------------------------------------------->
    <script th:src="@{/general/js/abrir-slider.js}"></script>

</body>

</html>