<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/general/css/formato.css}">
	<link rel="stylesheet" th:href="@{/general/css/header.css}">
	<link rel="stylesheet" th:href="@{/general/css/index.css}">
	<link rel="stylesheet" th:href="@{/general/css/footer.css}">
</head>

<body>

<h1>ESTE ES COMMIT DE PRUEBA 2.0 proque no cargo</h1>

	<!-- INCIO HEADER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
	<header>
		<div id="head-div-1">
			<div class="contenedor">
				<div class="head-div-1-sub">
					<p>
						Correo electrónico: <a href="mailto:labrujastore@outlook.com">labrujastore@outlokk.com</a>
					</p>
				</div>
				<div class="dropdown">
					<button class="dropdown-toggle" on:click={openModal}>Iniciar Sesión</button>
				</div>
			</div>
		</div>
		<div id="head-div-2">
			<div class="head-div-2-part1">
				<div class="contenedor-2">
					<!--Logo Header-->
					<div class="head-div-2-part1-1">
						<img th:src="@{/general/img/logo.png}" alt="Logo La Bruja Store" />
					</div>

					<!--Buscador-->
					<div class="head-div-2-part1-2 none-mobil">
						<div class="abrir">
							<button class="centered-label">Abrir Categorias</button>
						</div>
						<form class="form-busqueda" action="" method="post">
							<div class="form-busqueda-input"><input placeholder="Estoy buscando..." /></div>
							<div><button><img src="/icon/lupa.png" alt="" /></button></div>
						</form>
					</div>
					<!--Favorito y Carrito-->
					<div class="head-div-2-part1-3 none-mobil" style="margin-left: 2rem;">
						<!--Contador de favoritos-->
						<a class="link-bnt" href="/">
							<div>
								<span class="contador-fav">4</span>
							</div>
						</a>
						<!--Contador de carrito-->
						<a class="link-bnt" href="/">
							<div>
								<span class="contador-car">2</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="head-div-2-part2">
		<div class="contenedor-3">
			<a class="cont-lista-op" th:href="@{/}">INICIO</a>
			<a class="cont-lista-op" th:href="@{/catalogo/producto}">PRODUCTOS</a>
			<a class="cont-lista-op" th:href="@{/contacto}">CONTACTANOS</a>
			<a class="cont-lista-op" th:href="@{/about}">ACERCA DE</a>
			<a class="cont-lista-op" th:href="@{/}">CARRITO</a>
			<a class="cont-lista-op" th:href="@{/}">COTIZACIÓN</a>
		</div>
	</div>

	<!--Buscador PARA MOBILES DEFAULT DISPLAY:NONE-->
	<div class="sub-nivel-header-mobil">
		<div class="abrir">
			<button class="centered-label">
				<img class="img-menu" src="/icon/menu.svg" alt="" />
			</button>
		</div>
		<div class="head-div-2-part1-2">
			<form class="form-busqueda" action="" method="post">
				<div class="form-busqueda-input"><input placeholder="Estoy buscando..." /></div>
				<div><button><img src="/icon/lupa.svg" alt="" /></button></div>
			</form>
		</div>

		<div class="head-div-2-part1-3">
			<a href="/">
				<div class="cont-icon-corazon">
					<span class="span-corazon-mobil">4</span>
				</div>
			</a>
			<a href="/">
				<div>
					<span class="span-carrito-mobil">5</span>
				</div>
			</a>
		</div>
	</div>

	<!-- INICIO SILEBAR -->
	<div id="background-silebar">
		<div id="contenedor-silebar">

			<!-- Contenedor para la columna de categorias -->
			<div id="silebar-categorias">
				<div class="close-silebar">
					<button>X</button>
				</div>
				<ul>
					<a href="/">
						<li id="listaItems">
							<span>Inicio</span>
							<span class="simbolo"></span>
						</li>
					</a>
					<a href="producto">
						<li id="listaItems">
							<span>Procesadores</span>
							<span class="simbolo"></span>
						</li>
					</a>
					<li>
						<span>Placas madres</span>
						<span class="simbolo"></span>
					</li>
					<li>
						<span>Memorias ram</span>
						<span class="simbolo"></span>
					</li>
				</ul>
			</div>

			<!-- Contenedor para las subcategorias de las categorias -->
			<div id="silebar-subcategoria">
				<div>
					<div>
						<!-- Encabezado -->
						<div>
							<div>
								<img src="" alt="" />
								<!--Icono referente a la categoria-->
							</div>
							<a href="/">Procesador</a>
						</div>
						<a href="/">Ver todo</a>
					</div>

					<!-- Contenido de cada sub categoria -->
					<div>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN HEADER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->




	<!-- INICIO CONTENIDO ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->

	<!-- FIN CONTENIDO ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->




	<!-- INICIO FOOTER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
	<footer class="footer">
		<main class="encabezado">
			<span class="encabezado__titulo">Suscribete para resivir boletinis</span>
			<div class="encabezado__contenido">
				<input type="email" class="encabezado__input" placeholder="Su dirección electronico" />
				<p class="encabezado__parrafo">suscribirse</p>
			</div>
		</main>
		<section class="seccion">
			<article class="articulo">
				<figure>
					<img th:src="@{https://labrujastore.com/wp-content/uploads/2023/05/labrujastore-1.png}" alt="imagen"
						class="articulo__imagen" loading="lazy" width="315px" />
				</figure>
				<div class="contenido">
					<p class="contenido__descripcion">
						Consigue las mejores marcas a los mejores
						<span class="contenido__span">precios, aquí en La Bruja Store.</span>
					</p>
				</div>
			</article>
			<article class="contacto">
				<div class="container">
					<h2 class="contacto__titulo">CONTÁCTANOS</h2>
					<div class="conacto__dividir"></div>
				</div>
				<div class="contacto__borde"></div>
				<div class="contacto__iconos">
					<a th:href="@{/contacto}">
						<span><i class="fa-brands fa-whatsapp"></i></span>CONTACTANOS
					</a>
					<a th:href="@{/contacto}">
						<span><i class="fa-solid fa-location-dot"></i></span>AREQUIPA: C.C. CompuArequipa Tienda
						133 y 219
					</a>
					<a th:href="@{/}">
						<span><i class="fa-solid fa-location-dot"></i></span>LIMA: C.C. Cyberplaza tienda 140
						sector 2 B
					</a>
					<a th:href="@{/}">
						<span><i class="fa-solid fa-envelope"></i></span>
						labrujastore@uotlook.com
					</a>
				</div>
			</article>
			<article class="informacion">
				<div class="container">
					<h2 class="informacion__titulo">INFORMACIÓN</h2>
					<div class="informacion__dividir"></div>
				</div>
				<ul class="informacion__lista">
					<li>Nosotros</li>
					<li>Novedades</li>
					<li>Destacados</li>
					<li>Ofertas del día</li>
					<li>
						<a th:href="@{/politica_de_privacidad}">Politicas de Privacidad</a>
					</li>
					<li>
						<a th:href="@{/terminos_y_condiciones}">Terminos y Condiciones</a>
					</li>
					<li>
						<a th:href="@{/eliminar_datos_cuenta}">Store Data</a>
					</li>
				</ul>
			</article>
		</section>
		<div class="copyright">
			<p>Labrujastore© 2023 todos los derechos reservados.</p>
		</div>
	</footer>
	<!-- FIN FOOTER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
</body>

</html>