<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>La Bruja Storee</title>

	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/general/css/formato.css}">
	<link rel="stylesheet" th:href="@{/general/css/header.css}">
	<link rel="stylesheet" th:href="@{/general/css/footer.css}">
	<link rel="stylesheet" th:href="@{/home/css/index.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css}" />

	<!-- JS -->
	<script th:src="@{https://kit.fontawesome.com/a7b7960e39.js}" crossorigin="anonymous"></script>
	<script th:src="@{/general/js/header.js}"></script>
	<script th:src="@{https://kit.fontawesome.com/a7b7960e39.js}" crossorigin="anonymous"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js}"></script>
	<style>
		.swiper-button-next,
		.swiper-button-prev {
			color: #000;
			height: 40px;
			width: 40px;
			background: #eee;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 25px;
		}

		.swiper {
			width: 100%;
			height: 100%;
		}

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.caja1,
		.caja2,
		.caja3 {
			position: relative;
			height: 72vh;
		}

		.swiper-slide img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.a,
		.b {
			position: absolute;
			top: 35rem;
			background-color: red;
		}
	</style>
</head>

<body>
	<!-- INCIO HEADER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
	<header>
		<div id="head-div-1">
			<div class="contenedor">
				<div class="head-div-1-sub">
					<p>
						Correo electrónico: <a href="mailto:labrujastore@outlook.com">labrujastore@outlook.com</a>
					</p>
				</div>
				<div class="dropdown">
					<button class="dropdown-toggle" on:click={openModal}>Iniciar Sesión</button>
				</div>
			</div>
		</div>
		<div id="head-div-2">
			<div class="head-div-2-part1">
				<div class="contenedor-2">
					<!--Logo Header-->
					<div class="head-div-2-part1-1">
						<img th:src="@{/general/img/logo.png}" alt="Logo La Bruja Store" />
					</div>

					<!--Buscador-->
					<div class="head-div-2-part1-2 none-mobil">
						<div class="abrir">
							<label class="centered-label" for="open-silebar">Categorias</label>
						</div>
						<form class="form-busqueda" action="" method="post">
							<div class="form-busqueda-input"><input placeholder="Estoy buscando..." /></div>
							<div><button><img th:src="@{/general/img/icon/lupa.svg}" alt="" /></i></button></div>
						</form>
					</div>
					<!--Favorito y Carrito-->
					<div class="head-div-2-part1-3 none-mobil" style="margin-left: 2rem;">
						<!--Contador de favoritos-->
						<a class="link-bnt" href="/">
							<div>
								<img th:src="@{/general/img/icon/corazon.svg}" alt="" />
								<span class="contador-fav">4</span>
							</div>
						</a>
						<!--Contador de carrito-->
						<a class="link-bnt" href="/">
							<div>
								<img th:src="@{/general/img/icon/carrito.svg}" alt="" />
								<span class="contador-car">2</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="head-div-2-part2">
		<div class="contenedor-3">
			<a class="cont-lista-op" href="/">INICIO</a>
			<a class="cont-lista-op" href="/catalogo/producto">CATALOGO</a>
			<a class="cont-lista-op" href="/contactanos">CONTACTANOS</a>


		</div>
	</div>

	<!--Buscador PARA MOBILES DEFAULT DISPLAY:NONE-->
	<div class="sub-nivel-header-mobil">
		<div class="abrir">
			<label for="open-silebar" class="centered-label">
				<!-- <img class="img-menu" th:src="@{/general/img/menu.png}" alt="" style="width: 15px; padding: 5px;" /> -->
				<!-- <img class="img-menu" th:src="@{/general/img/menu.svg}" alt=""> -->
				<i class="fa-solid fa-bars img-menu" style="color: #000000; padding: 10px;"></i>
			</label>
		</div>
		<div class="head-div-2-part1-2">
			<form class="form-busqueda" action="" method="post">
				<div class="form-busqueda-input"><input placeholder="Estoy buscando..." /></div>
				<div><button><img th:src="@{/general/img/icon/lupa.svg}" alt="" /></button></div>
			</form>
		</div>

		<div class="head-div-2-part1-3">
			<a href="/">
				<div class="cont-icon-corazon">
					<span class="span-corazon-mobil">4</span>
					<img th:src="@{/general/img/icon/corazon.svg}" alt="" />
				</div>
			</a>
			<a href="/">
				<div>
					<span class="span-carrito-mobil">5</span>
					<img th:src="@{/general/img/icon/carrito.svg}" alt="" />
				</div>
			</a>
		</div>
	</div>

	<!-- INICIO SILEBAR -->
	<div id="background-silebar">
		<div id="contenedor-silebar">

			<!-- Contenedor para la columna de categorias -->
			<div id="silebar-categorias">
				<div class="close-silebar">
					<label for="close-silebar"><img th:src="@{/general/img/icon/equis.svg}" alt=""></label>
				</div>
				<ul>
					<a href="/catalogo/producto">
						<li id="listaItems">
							<span>CATALOGO</span>
							<img class="simbolo" th:src="@{/general/img/icon/angle-right.svg}" alt=""
								style="width: 12px;">
						</li>
					</a>
					<a href="/">
						<li id="listaItems">
							<span>Categoria 1</span>
							<img class="simbolo" th:src="@{/general/img/icon/angle-right.svg}" alt=""
								style="width: 12px;">
						</li>
					</a>
					<a href="/">
						<li id="listaItems">
							<span>Categoria 2</span>
							<img class="simbolo" th:src="@{/general/img/icon/angle-right.svg}" alt=""
								style="width: 12px;">
						</li>
					</a>
					<a href="/">
						<li id="listaItems">
							<span>Categoria 3</span>
							<img class="simbolo" th:src="@{/general/img/icon/angle-right.svg}" alt=""
								style="width: 12px;">
						</li>
					</a>
					<a href="/">
						<li id="listaItems">
							<span>Categoria 4</span>
							<img class="simbolo" th:src="@{/general/img/icon/angle-right.svg}" alt=""
								style="width: 12px;">
						</li>
					</a>
				</ul>
			</div>

			<!-- Contenedor para las subcategorias de las categorias -->
			<div id="silebar-subcategoria">
				<div>
					<div>
						<!-- Encabezado -->
						<div>
							<div>
								<img src="" alt="" />
								<!--Icono referente a la categoria-->
							</div>
							<a href="/">Procesador</a>
						</div>
						<a href="/">Ver todo</a>
					</div>

					<!-- Contenido de cada sub categoria -->
					<div>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN HEADER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->




	<!-- INICIO CONTENIDO ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
	<!-- Slider Mian -->
	<div class="swiper mySwiper" style="overflow-x: hidden;">
		<div class="swiper-wrapper">
			<div class="swiper-slide caja1" th:if="${bannerId1 != null}">
				<img th:src="'data:image/' + ${bannerId1.typeImage} + ';base64,' + ${bannerId1.base64Image}"
					alt="Imagen1" />
			</div>
			<div class="swiper-slide caja2" th:if="${bannerId2 != null}">
				<img th:src="'data:image/' + ${bannerId2.typeImage} + ';base64,' + ${bannerId2.base64Image}"
					alt="Imagen2" />
			</div>
			<div class="swiper-slide caja3" th:if="${bannerId3 != null}">
				<img th:src="'data:image/' + ${bannerId3.typeImage} + ';base64,' + ${bannerId3.base64Image}"
					alt="Imagen3" />
			</div>
		</div>

		<div class="swiper-button-next a">
			<i class="fa-solid fa-angle-right"></i>
		</div>
		<div class="swiper-button-prev b">
			<i class="fa-solid fa-angle-left"></i>
		</div>
	</div>


	<!-- Slider Productos Nuevos -->
	<section class="combos">
		<p class="combos__title">Productos Nuevos</p>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" th:each="accesorio : ${vistaAccesorios}"
					th:if="${accesorio.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img
								th:src="'data:image/' + ${accesorio.typeImage} + ';base64,' + ${accesorio.base64Image}" />
							<div class="figure__description">
								<a href="/producto/detalle" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${accesorio.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" th:each="almacenamiento : ${vistaAlmacenamientos}"
					th:if="${almacenamiento.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img
								th:src="'data:image/' + ${almacenamiento.typeImage} + ';almacenamiento,' + ${almacenamiento.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${almacenamiento.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" th:each="casse : ${vistaCasses}" th:if="${casse.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img th:src="'data:image/' + ${casse.typeImage} + ';base64,' + ${casse.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${casse.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" th:each="fuente : ${vistaFuentes}" th:if="${fuente.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img th:src="'data:image/' + ${fuente.typeImage} + ';base64,' + ${fuente.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${fuente.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" th:each="laptop : ${vistaLaptops}" th:if="${laptop.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img th:src="'data:image/' + ${laptop.typeImage} + ';base64,' + ${laptop.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${laptop.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" th:each="monitor : ${vistaMonitores}" th:if="${monitor.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img th:src="'data:image/' + ${monitor.typeImage} + ';base64,' + ${monitor.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${monitor.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" th:each="placa : ${vistaPlacas}" th:if="${placa.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img th:src="'data:image/' + ${placa.typeImage} + ';base64,' + ${placa.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${placa.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" th:each="procesador : ${vistaProcesadores}"
					th:if="${procesador.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img
								th:src="'data:image/' + ${procesador.typeImage} + ';base64,' + ${procesador.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${procesador.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" th:each="ram : ${vistaRams}" th:if="${ram.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img th:src="'data:image/' + ${ram.typeImage} + ';base64,' + ${ram.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${ram.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" th:each="refrigeracion : ${vistaRefrigeraciones}"
					th:if="${refrigeracion.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img
								th:src="'data:image/' + ${refrigeracion.typeImage} + ';base64,' + ${refrigeracion.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${refrigeracion.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" th:each="tarjeta : ${vistaTarjetas}" th:if="${tarjeta.estado == 'nuevo'}">
					<div class="card">
						<div class="figure-image">
							<img th:src="'data:image/' + ${tarjeta.typeImage} + ';base64,' + ${tarjeta.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${tarjeta.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="swiper-button-prev">
				<i class="fa-solid fa-angle-left"></i>
			</div>
			<div class="swiper-button-next">
				<i class="fa-solid fa-angle-right"></i>
			</div>
		</div>
	</section>

	<!-- Banner 2 -->
	<section class="banners">
		<div class="baner" th:if="${bannerId4 != null}">
			<img th:src="'data:image/' + ${bannerId4.typeImage} + ';base64,' + ${bannerId4.base64Image}"
				alt="Banner 4" />
		</div>
	</section>

	<!-- Slider Ofertas Laptops -->
	<section class="combos">
		<p class="combos__title">Ofertas Laptops</p>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" th:each="laptop : ${vistaLaptops}" th:if="${laptop.oferta == 'si'}">
					<div class="card">
						<div class="figure-image">
							<img th:src="'data:image/' + ${laptop.typeImage} + ';base64,' + ${laptop.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${laptop.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev">
				<i class="fa-solid fa-angle-left"></i>
			</div>
			<div class="swiper-button-next">
				<i class="fa-solid fa-angle-right"></i>
			</div>
		</div>
	</section>

	<!-- Banner 3 -->
	<section class="banners">
		<div class="baner" th:if="${bannerId5 != null}">
			<img th:src="'data:image/' + ${bannerId5.typeImage} + ';base64,' + ${bannerId5.base64Image}"
				alt="Banner 5" />
		</div>
	</section>

	<!-- Slider Ofertas Combos -->
	<section class="combos">
		<p class="combos__title">Ofertas Combos</p>
		<div class="swiper-container">
			<div class="swiper-wrapper">

				<div class="swiper-slide" th:each="combo : ${vistaCombos}">
					<div class="card">
						<div class="figure-image">
							<img class="img-producto"
								th:src="'data:image/' + ${combo.typeImage} + ';base64,' + ${combo.base64Image}" />
							<div class="figure__description">
								<a href="https://www.google.com/?hl=es" class="figure__link">
									Ver mas
									<span>
										<i class="fa-solid fa-eye"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="description">
							<p th:text="${combo.nombre}"></p>
							<div class="icons__compra">
								<div class="heart">
									<i class="fa-regular fa-heart"></i>
								</div>
								<div>
									<i class="fa-solid fa-cart-shopping"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev">
				<i class="fa-solid fa-angle-left"></i>
			</div>
			<div class="swiper-button-next">
				<i class="fa-solid fa-angle-right"></i>
			</div>
		</div>
	</section>

	<section class="marcas">
		<div>
			<h1 class="marcas__title">Marcas con las que trabajamos</h1>
		</div>
		<div class="logos">
			<div class="logos-slide" th:each="marca : ${vistaMarcas}" style="display: flex;">
				<img th:src="'data:image/' + ${marca.typeImage} + ';base64,' + ${marca.base64Image}" />
			</div>
		</div>
	</section>
	<!-- FIN CONTENIDO ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->




	<!-- INICIO FOOTER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
	<footer class="footer">
		<main class="encabezado">
			<span class="encabezado__titulo">Suscribete para resivir boletinis</span>
			<div class="encabezado__contenido">
				<input type="email" class="encabezado__input" placeholder="Su dirección electronico" />
				<p class="encabezado__parrafo">suscribirse</p>
			</div>
		</main>
		<section class="seccion">
			<article class="articulo">
				<figure>
					<img th:src="@{https://labrujastore.com/wp-content/uploads/2023/05/labrujastore-1.png}" alt="imagen"
						class="articulo__imagen" loading="lazy" width="315px" />
				</figure>
				<div class="contenido">
					<p class="contenido__descripcion">
						Consigue las mejores marcas a los mejores
						<span class="contenido__span">precios, aquí en La Bruja Store.</span>
					</p>
					<p>Siguenes en nuestras redes sociales:</p>
					<div class="cont-redes">
						<div class="cad-img">
							<a class="style-icon" target="_blank"
								th:href="@{https://www.facebook.com/LaBrujaStoreOficial?locale=es_LA}">
								<img class="icon-redes" th:src="@{/general/img/icon/facebook.svg}" alt="">
							</a>
						</div>
						<div class="cad-img">
							<a class="style-icon" target="_blank"
								th:href="@{https://www.instagram.com/labrujastoreaqp?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==}">
								<img class="icon-redes" th:src="@{/general/img/icon/instagram.svg}" alt="">
							</a>
						</div>
						<div class="cad-img">
							<a class="style-icon" target="_blank"
								th:href="@{https://www.tiktok.com/@labrujastoreaqp?is_from_webapp=1&sender_device=pc}">
								<img class="icon-redes" th:src="@{/general/img/icon/tiktok.svg}" alt="">
							</a>
						</div>
					</div>
				</div>
			</article>
			<article class="contacto">
				<div class="container">
					<h2 class="contacto__titulo">CONTÁCTANOS</h2>
					<div class="conacto__dividir"></div>
				</div>
				<div class="contacto__borde"></div>
				<div class="contacto__iconos">
					<a th:href="@{/contacto}">
						<span><i class="fa-brands fa-whatsapp"></i></span>CONTACTANOS
					</a>
					<a th:href="@{/contacto}">
						<span><i class="fa-solid fa-location-dot"></i></span>AREQUIPA: C.C. CompuArequipa Tienda
						133 y 219
					</a>
					<a th:href="@{/}">
						<span><i class="fa-solid fa-location-dot"></i></span>LIMA: C.C. Cyberplaza tienda 140
						sector 2 B
					</a>
					<a th:href="@{/}">
						<span><i class="fa-solid fa-envelope"></i></span>
						labrujastore@uotlook.com
					</a>
				</div>
			</article>
			<article class="informacion">
				<div class="container">
					<h2 class="informacion__titulo">INFORMACIÓN</h2>
					<div class="informacion__dividir"></div>
				</div>
				<ul class="informacion__lista">
					<li>Nosotros</li>
					<li>Novedades</li>
					<li>Destacados</li>
					<li>Ofertas del día</li>
					<li>
						<a th:href="@{/politica_de_privacidad}">Politicas de Privacidad</a>
					</li>
					<li>
						<a th:href="@{/terminos_y_condiciones}">Terminos y Condiciones</a>
					</li>
					<li>
						<a th:href="@{/eliminar_datos_cuenta}">Store Data</a>
					</li>
				</ul>
			</article>
		</section>
		<div class="copyright">
			<p>Labrujastore© 2023 todos los derechos reservados.</p>
		</div>
	</footer>
	<!-- FIN FOOTER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
	<script th:src="@{/home/js/index.js}"></script>
</body>

</html>