/* Todo del Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

.line-red {
    height: 15px;
    background-color: red;
    width: 85%;
    border-radius: 5px;
    margin-bottom: 46px;
    max-width: 1180px;
}

.body-footer {
    width: 85%;
    display: flex;
    margin-bottom: 72px;
    justify-content: space-evenly;
    max-width: 1180px;
}

.body-footer a {
    color: white;
    transition: 0.2s ease;
}

.body-footer div {
    display: flex;
    flex-direction: column;
}

.cont-footer {
    height: 300px;
}

.logo-footer {
    width: 351px;
}

.logo-footer img {
    width: auto;
}

.descp-footer {
    margin-top: 15px;
}

.cont-footer p {
    color: white;
    margin-top: 0px;
}

.cont-redes-footer ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.cont-redes-footer li {
    margin-right: 10px;
}

.cont-redes-footer a {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s ease;
}

.cont-redes-footer a:hover {
    background-color: red;
}

.cont-redes-footer a:hover img {
    filter: none;
}

.cont-redes-footer img {
    width: 18px;
    filter: invert(100%);
}

.informacion__titulo {
    color: white;
    font-size: 30px;
    margin-top: 7px;
}

.informacion__dividir {
    height: 3px;
    border-radius: 5px;
    width: 45%;
    background-color: white;
    margin-bottom: 15px;
}

.informacion__lista li {
    margin-bottom: 2px;
}

.informacion__lista a:hover {
    color: #bebebe;
}

.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #323232;
    color: white;
    font-size: 15px;
}

@media screen and (max-width: 1146px) {
    .logo-footer {
        width: 275px;
    }

    .cont-footer p {
        font-size: 12px;
    }

    .informacion__titulo {
        font-size: 20px;
        margin-top: 5px;
    }

    .body-footer a {
        font-size: 12px;
    }
}

@media screen and (max-width: 890px) {
    .logo-footer {
        width: 200px;
    }

    .cont-footer p {
        font-size: 10px;
    }

    .informacion__titulo {
        font-size: 25px;
        margin-top: 3px;
    }

    .body-footer a {
        font-size: 10px;
    }

    .informacion__dividir {
        margin-bottom: 6px;
    }

    .informacion__lista {
        margin: 0px;
    }

    .informacion__lista li {
        height: 20px;
    }

    .cont-redes-footer a {
        height: 25px;
        width: 25px;
    }

    .cont-redes-footer img {
        width: 12px;
    }
}

@media screen and (max-width: 751px) {
    .logo-footer {
        width: 350px;
    }

    .cont-footer p {
        font-size: 13px;
    }

    .cont-redes-footer a {
        height: 40px;
        width: 40px;
    }

    .cont-redes-footer img {
        width: 18px;
    }

    .body-footer {
        flex-direction: column;
    }

    .cont-footer {
        height: auto;
        margin-bottom: 47px;
    }

    .body-footer a {
        font-size: 13px;
    }
}

@media screen and (max-width: 400px) {
    .logo-footer {
        width: 230px;
    }

    .cont-footer p {
        font-size: 12px;
    }

    .body-footer a {
        font-size: 11px;
    }

    .cont-redes-footer a {
        height: 30px;
        width: 30px;
    }

    .cont-redes-footer img {
        width: 15px;
    }

    .copyright {
        font-size: 11px;
    }
}