<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Procesador</title>
</head>
<body>

	<h1>Editar Procesador</h1>
	
	<form th:action="@{/admin/procesador/editar/{procesadorId}(procesadorId=${formularioEditarProcesador.procesadorId})}"
		th:object="${formularioEditarProcesador}" method="post" enctype="multipart/form-data">
	    <label for="nombre">Nombre:</label>
	    <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required>
	    <br>
	    <label for="imagen">Imagen:</label>
	    <input type="file" id="imagen" name="imagen" accept="image/*" onchange="previewImage(this)">
        <!-- Campo oculto para almacenar la URL de la imagen actual -->
	    <input type="hidden" name="imagenAnterior" th:value="${formularioEditarProcesador.imagenArchivo}">
	    <br>
	    <label for="stock">Stock:</label>
	    <input type="number" id="stock" name="stock" th:field="*{stock}" required>
	    <br>
	    <label for="precio">Precio:</label>
	    <input type="number" id="precio" name="precio" step="0.01" th:field="*{precio}" required>
	    <br>
	    <label for="descripcion">Descripción:</label>
	    <textarea id="descripcion" name="descripcion" th:field="*{descripcion}" required></textarea>
	    <br>
	    <label for="url">URL:</label>
	    <input type="text" id="url" name="url" th:field="*{url}" required>
	    <br>
	    <label for="categoria">Categoría:</label>
	    <select id="categoria" name="categoria" th:field="*{categoria}" required>
	        <option th:each="categoria : ${selectorCategorias}" 
	        th:value="${categoria.categoriaId}" th:text="${categoria.nombre}"></option>
	    </select>
	    <br>
        <!-- Vista previa de la imagen actual -->
	    <img id="imagen-preview" th:if="${formularioEditarProcesador.imagenArchivo}" th:src="@{${formularioEditarProcesador.imagenArchivo}}" width="200px" height="200px">
	    <br>
	    <button type="submit">Editar</button>
	</form>

	<a href="../../procesador">Volver</a>

	<script>
		function previewImage(input) {
			var preview = document.getElementById('imagen-preview');
			var file = input.files[0];
			var reader = new FileReader();
			
			reader.onload = function(e) {
				preview.src = e.target.result;
				preview.style.display = 'block';
			}
			
			reader.readAsDataURL(file);
		}
	</script>

</body>
</html>
