<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metas para la búsqueda de google -->
    <title>Política de privacidad - LaBrujaStore</title>
    <meta name="description" content="Políticas de privacidad de la tienda La Bruja Store.">
    <meta name="robots" content="index">
    <meta name="keywords" content=""> <!--Palabras claves o tags-->

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <link rel="icon" th:href="@{/general/img/logotipo.png}" type="image/png">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/general/css/formato.css}">
    <link rel="stylesheet" th:href="@{/general/css/header.css}">
    <link rel="stylesheet" th:href="@{/contactanos/css/contactanos.css}">
    <link rel="stylesheet" th:href="@{/general/css/footer.css}">
    <link rel="stylesheet" th:href="@{/general/css/sliderMain.css}">

    <link rel="stylesheet" th:href="@{/politica-privacidad/css/style.css}">

    <!-- JS -->
    <script th:src="@{https://kit.fontawesome.com/a7b7960e39.js}" crossorigin="anonymous"></script>
    <script th:src="@{/general/js/header.js}"></script>
    <script th:src="@{/general/js/contactanos.js}"></script>
</head>

<body>
    <!-- INICIO HEADER ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
    <header>
        <div id="head-div-1">
            <div class="contenedor">
                <div class="head-div-1-sub">
                    <p>
                        Correo electrónico: <a href="mailto:labrujastore@outlook.com">labrujastore@outlook.com</a>
                    </p>
                </div>
                <div class="dropdown" style="display: none;">
                    <button class="dropdown-toggle" on:click={openModal}>Iniciar Sesión</button>
                </div>
            </div>
        </div>
        <div id="head-div-2">
            <div class="head-div-2-part1">
                <div class="contenedor-2">
                    <!--Logo Header-->
                    <div class="head-div-2-part1-1">
                        <a href="/">
                            <img loading="lazy" th:src="@{/general/img/logo.png}" alt="Logo La Bruja Store" />
                        </a>
                    </div>

                    <div class="barra-bus-btn">
                        <!-- Hamburguesa para abrir sidebar izquierdo - celulares -->
                        <div class="abrir mostrar-opc-mobil">
                            <label for="open-silebar" class="centered-label">
                                <i class="fa-solid fa-bars img-menu" style="color: #000000; padding: 10px;"></i>
                            </label>
                        </div>

                        <!--Buscador-->
                        <div class="head-div-2-part1-2">
                            <div class="abrir-slider">
                                <label class="centered-label" for="open-silebar">Categorias</label>
                            </div>
                            <div class="cont-form-search">
                                <div>
                                    <form class="form-busqueda" action="" method="post">
                                        <div class="form-busqueda-input"><input type="text" name="buscador-pro"
                                                id="buscador-producto" placeholder="Estoy buscando..." /></div>
                                        <div><button><img loading="lazy" th:src="@{/general/img/icon/lupa.svg}"
                                                    alt="" /></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="busqueda-productos">
                                    <ul class="grupo-productos-busqueda">
                                    
                                        <!-- Accesorio -->
                                        <li th:each="producto : ${vistaAccesorios}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.accesorioId}, tipo='accesorio')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Almacenamiento -->
                                        <li th:each="producto : ${vistaAlmacenamientos}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.almacenamientoId}, tipo='almacenamiento')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Casse -->
                                        <li th:each="producto : ${vistaCasses}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.casseId}, tipo='casse')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Fuente -->
                                        <li th:each="producto : ${vistaFuentes}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.fuenteId}, tipo='fuente')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Laptop -->
                                        <li th:each="producto : ${vistaLaptops}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.laptopId}, tipo='laptop')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Monitor -->
                                        <li th:each="producto : ${vistaMonitores}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.monitorId}, tipo='monitor')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- Placa Madre -->
                                        <li th:each="producto : ${vistaPlacas}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.placaId}, tipo='placa')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Procesador -->
                                        <li th:each="producto : ${vistaProcesadores}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.procesadorId}, tipo='procesador')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Memoria ram -->
                                        <li th:each="producto : ${vistaRams}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.ramId}, tipo='ram')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Refrigeracion -->
                                        <li th:each="producto : ${vistaRefrigeraciones}" class="productos-filtrados display-none">
                                            <a class="link-producto"
                                                th:href="@{/catalogo/detalle/producto/{id}(id=${producto.refrigeracionId}, tipo='refrigeracion')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Tarjeta Gráfica -->
                                        <li th:each="producto : ${vistaTarjetas}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.tarjetaId}, tipo='tarjeta')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    
                                        <!-- Combo -->
                                        <li th:each="producto : ${vistaCombos}" class="productos-filtrados display-none">
                                            <a class="link-producto" th:href="@{/catalogo/detalle/producto/{id}(id=${producto.comboId}, tipo='combo')}">
                                                <div class="div-produc-filt">
                                                    <div class="cont-img-produc-fitl">
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:if="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="'data:image/' + ${producto.typeImage} + ';base64,' + ${producto.base64Image}" />
                                                        <img loading="lazy" class="img-produc-search"
                                                            th:unless="${producto.base64Image != null && !#strings.isEmpty(producto.base64Image)}"
                                                            th:src="@{/general/img/sin-imagen.png}" />
                                                    </div>
                                                    <div class="cont-detalle-produc-fitl">
                                                        <h4 class="nombre-produc-search" th:text="${producto.nombre}">
                                                        </h4>
                                                        <p class="precio-produc-search">S/.<span th:text="${producto.precio}"></span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <script th:src="@{/general/js/buscador-producto.js}"></script>
                        <script th:src="@{/general/js/quitar-form-input.js}"></script>

                        <!--Favorito y Carrito-->
                        <div class="head-div-2-part1-3">
                            <!--Contador de favoritos-->
                            <a class="link-bnt" style="display: none;" href="/">
                                <div>
                                    <img loading="lazy" th:src="@{/general/img/icon/corazon.svg}" alt="" />
                                    <span class="contador-fav">4</span>
                                </div>
                            </a>
                            <!--Contador de carrito-->
                            <button class="link-bnt" id="boton_abrir--slider"
                                style="background: transparent; border: none; outline:none;">
                                <div>
                                    <img loading="lazy" th:src="@{/general/img/icon/carrito.svg}" alt="" />
                                    <span class="contador-car" id="cantidad-contador-carrito"></span>
                                    <p id="mostrarPrecioTotal"></p>
                                </div>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="head-div-2-part2">
        <div class="contenedor-3">
            <a class="cont-lista-op" href="/">INICIO</a>
            <a class="cont-lista-op" href="/catalogo/producto">CATALOGO</a>
            <a class="cont-lista-op" href="/contactanos">CONTACTANOS</a>
            <a class="cont-lista-op" href="/about">ACERCA DE</a>
            <a class="cont-lista-op" href="/cotizacion">COTIZACIÓN</a>
            <!-- <a class="cont-lista-op" href="/">CARRITO</a>-->
        </div>
    </div>

    <!-- SIDEBAR CATEGORIAS -->
    <div id="background-silebar">
        <div id="contenedor-silebar">

            <!-- Contenedor para la columna de categoria -->
            <div id="silebar-categorias">
                <div class="close-silebar">
                    <label for="close-silebar"><img loading="lazy" th:src="@{/general/img/icon/equis.svg}"
                            alt=""></label>
                </div>
                <ul>
                    <a href="/catalogo/producto">
                        <li class="listaItems">
                            <span>CATALOGO</span>
                        </li>
                    </a>
                    <hr>
                    <a th:each="categoria : ${vistaCategorias}" th:href="@{'/catalogo/' + ${categoria.nombreUrl}}">
                        <li class="listaItems">
                            <span th:text="${categoria.nombre}"></span>
                            <img loading="lazy" class="simbolo" th:src="@{/general/img/icon/angle-right.svg}" alt=""
                                style="width: 12px;">
                        </li>
                    </a>
                    <hr>
                    <a href="/">
                        <li class="listaItems">
                            <span>INICIO</span>
                        </li>
                    </a>
                    <a href="/contactanos">
                        <li class="listaItems">
                            <span>CONTACTANOS</span>
                        </li>
                    </a>
                    <a href="/about">
                        <li class="listaItems">
                            <span>SOBRE NOSOTROS</span>
                        </li>
                    </a>
                    <a href="/cotizacion">
                        <li class="listaItems">
                            <span>COTIZAR ONLINE</span>
                        </li>
                    </a>
                    <a href="">
                        <li class="listaItems">
                            <span></span>
                        </li>
                    </a>
                </ul>
            </div>

            <!-- Contenedor para las subcategoria de las categorias -->
            <div id="silebar-subcategoria">
                <div>
                    <div>
                        <!-- Encabezado -->
                        <div>
                            <div>
                                <img loading="lazy" src="" alt="" />
                                <!--Icono referente a la categoria-->
                            </div>
                            <a href="/">Productos</a>
                        </div>
                        <a href="/">Ver todo</a>
                    </div>

                    <!-- Contenido de cada sub categoria -->
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SIDEBAR DE CARRITO -->
    <div id="background-silebar-carrito">
        <div id="contenedor-silebar-carrito" style="overflow: hidden scroll;">

            <!-- Contenedor para la columna de categorias -->
            <div id="silebar-categorias-carrito">
                <div class="close-silebar-carrito">
                    <label for="close-silebar-carrito"><img loading="lazy" th:src="@{/general/img/icon/equis.svg}"
                            alt=""></label>
                </div>
            </div>
            <p style="text-align: center; font-size: 18px; font-weight: 700;">Carrito</p>
            <!-- Contenedor para las subcategoria de las categorias -->
            <div id="silebar-subcategoria-carrito">
                <!-- Aquí van los productos -->
            </div>
            <div class="contenido_productos-pago">
                <p class="cantidad_productos_contenido"><span id="cantidad_productos_obtenidos"
                        class="cantidad_producto--span"></span></p>
                <p class="total_pagar_productos">Total a pagar: <span id="precio_total_productos"
                        class="total_pagar-span"></span></p>
            </div>
            <a href="/contactanos">
                <button class="comprar_productos_carrito">COMPRAR PRODUCTOS</button>
            </a>
        </div>
    </div>
    <!-- FIN HEADER ----------------------------------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------->


    <!-- INICIO CONTENIDO ----------------------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------------------------------------->
    <section class="contactos">
        <div class="contactos__header">
            <div class="seguimiento">
                <p>
                    <a th:href="@{/}"><span class="seguimiento__etiqueta">Hogar </span></a>
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="/politica-privacidad"><span class="seguimiento__contacto"> Política de privacidad</span></a>
                </p>
            </div>
            <div class="seguimiento__dos">
                <h2 class="seguimiento__titulo">POLÍTICA DE PRIVACIDAD</h2>
            </div>
        </div>
        <hr />

        <div>
            <h2 class="privacidad__title">POLÍTICA DE PRIVACIDAD</h2>
            <p class="privacidad__description">
                El presente Política de Privacidad establece los términos en que La Bruja Store usa y
                protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio
                web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando
                le pedimos llenar los campos de información personal con la cual usted pueda ser
                identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este
                documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser
                actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para
                asegurarse que está de acuerdo con dichos cambios.
            </p>
            <span class="privacidad__subtitle">Información que es recogida </span>
            <p class="privacidad__description">
                Nuestro sitio web podrá recoger información personal por ejemplo: Nombre, información de
                contacto como su dirección de correo electrónica e información demográfica. Así mismo cuando
                sea necesario podrá ser requerida información específica para procesar algún pedido o
                realizar una entrega o facturación.
            </p>
            <span class="privacidad__subtitle">Uso de la información recogida</span>
            <p class="privacidad__description">
                Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio
                posible, particularmente para mantener un registro de usuarios, de pedidos en caso que
                aplique, y mejorar nuestros productos y servicios. Es posible que sean enviados correos
                electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos
                productos y otra información publicitaria que consideremos relevante para usted o que pueda
                brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que
                usted proporcione y podrán ser cancelados en cualquier momento.
            </p>
            <p class="privacidad__description">
                La Bruja Store está altamente comprometido para cumplir con el compromiso de mantener su
                información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para
                asegurarnos que no exista ningún acceso no autorizado.
            </p>
            <span class="privacidad__subtitle">Cookies</span>
            <p class="privacidad__description">
                Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para
                almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces
                para tener información respecto al tráfico web, y también facilita las futuras visitas a una
                web recurrente. Otra función que tienen las cookies es que con ellas las web pueden
                reconocerte individualmente y por tanto brindarte el mejor servicio personalizado de su web.
            </p>
            <p class="privacidad__description">
                Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y
                su frecuencia. Esta información es empleada únicamente para análisis estadístico y después
                la información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier
                momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio
                de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de
                que usted así lo quiera y la proporcione directamente . Usted puede aceptar o negar el uso
                de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve
                para tener un mejor servicio web. También usted puede cambiar la configuración de su
                ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos
                de nuestros servicios.
            </p>
            <span class="privacidad__subtitle">Enlaces a Terceros </span>
            <p class="privacidad__description">
                Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una
                vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control
                sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o
                privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios
                están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los
                consulte para confirmar que usted está de acuerdo con estas.
            </p>
            <span class="privacidad__subtitle">Control de su información personal </span>
            <p class="privacidad__description">
                En cualquier momento usted puede restringir la recopilación o el uso de la información
                personal que es proporcionada a nuestro sitio web. Cada vez que se le solicite rellenar un
                formulario, como el de alta de usuario, puede marcar o desmarcar la opción de recibir
                información por correo electrónico. En caso de que haya marcado la opción de recibir nuestro
                boletín o publicidad usted puede cancelarla en cualquier momento.
            </p>
            <p class="privacidad__description">
                Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada
                sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.
            </p>
            <p class="privacidad__description">
                La Bruja Store Se reserva el derecho de cambiar los términos de la presente Política de
                Privacidad en cualquier momento.
            </p>
        </div>

        

    </section>
    <!-- FIN CONTENIDO ----------------------------------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------->


    <!-- INICIO FOOTER ----------------------------------------------------------------------------------------------------------
        	----------------------------------------------------------------------------------------------------------------------------->
    <footer>
        <div class="line-red"></div>
        <div class="body-footer">
            <div class="cont-footer">
                <div class="logo-footer">
                    <img loading="lazy" th:src="@{/general/img/logo.png}" class="articulo__imagen" width="315px">
                </div>
                <div class="descp-footer">
                    <p>
                        Consigue las mejores marcas a los mejores<br>
                        precios, aquí en La Bruja Store.
                    </p>
                    <p>
                        Síguenos en nuestras redes sociales:
                    </p>
                </div>
                <div class="cont-redes-footer">
                    <ul>
                        <li>
                            <a class="style-icon" target="_blank"
                                th:href="@{https://www.facebook.com/LaBrujaStoreOficial?locale=es_LA}">
                                <img loading="lazy" class="icon-redes" th:src="@{/general/img/icon/facebook.svg}">
                            </a>
                        </li>
                        <li>
                            <a class="style-icon" target="_blank"
                                th:href="@{https://www.instagram.com/labrujastoreaqp?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==}">
                                <img loading="lazy" class="icon-redes" th:src="@{/general/img/icon/instagram.svg}">
                            </a>
                        </li>
                        <li>
                            <a class="style-icon" target="_blank"
                                th:href="@{https://www.tiktok.com/@labrujastoreaqp?is_from_webapp=1&sender_device=pc}">
                                <img loading="lazy" class="icon-redes" th:src="@{/general/img/icon/tiktok.svg}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont-footer">
                <div class="head-cont-footer">
                    <h2 class="informacion__titulo">CONTÁCTANOS</h2>
                    <div class="informacion__dividir"></div>
                </div>
                <ul class="informacion__lista">
                    <li><a th:href="@{/contactanos}"><i class="fa-brands fa-whatsapp"></i> CONTACTANOS</a></li>
                    <li><a target="_blank" th:href="@{https://maps.app.goo.gl/YrVFaSiMSWnPVonT9}"><i
                                class="fa-solid fa-location-dot"></i> AREQUIPA: C.C. CompuArequipa Tienda 133 y 219</a></li>
                    <li><a target="_blank" th:href="@{https://maps.app.goo.gl/7fpzHPvQvTrB4zeM9}"><i
                                class="fa-solid fa-location-dot"></i> LIMA: C.C. Cyberplaza tienda 140 sector 2 B</a></li>
                    <li><a href="mailto:labrujastore@outlook.com"><i class="fa-solid fa-envelope"></i>
                            labrujastore@uotlook.com</a></li>
                </ul>
            </div>
            <div class="cont-footer">
                <div class="head-cont-footer">
                    <h2 class="informacion__titulo">POLÍTICAS</h2>
                    <div class="informacion__dividir"></div>
                </div>
                <ul class="informacion__lista">
                    <li><a href="/about">Nosotros</a></li>
                    <li><a href="/politica-privacidad">Políticas de Privacidad</a></li>
                    <li><a href="/terminos-condiciones">Términos y Condiciones</a></li>
                    <li><a href="/politica-garantia">Devoluciones</a></li>
                </ul>
            </div>
        </div>
    
        <div class="copyright">
            <p>Labrujastore© 2024 todos los derechos reservados.</p>
        </div>
    
    </footer>
    <!-- FIN FOOTER ----------------------------------------------------------------------------------------------------------
        	----------------------------------------------------------------------------------------------------------------------------->
    <script th:src="@{/general/js/abrir-slider.js}"></script>

</body>

</html>