---
import { Image } from "astro:assets";
import snk from "@assets/procesador/snk.jpg";
---

<div class="contenedor">
    <Image src={snk} alt="nrt" class="imagen" loading="eager" />
</div>

<style>
    .contenedor {
        display: flex;
        height: 300px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .imagen {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
</style>
